ul{list-style: none;padding:0;margin:0;}
a{color:#333;text-decoration:none;font-size:12px}
a:hover{text-decoration: none}
body{color:#333;font-size:14px;font-family: '微软雅黑';margin:0}
p,h1,h2,h3,h4,h5,dl,dt,dd,font{padding:0;margin:0}
span{font-size: 12px}
em,i{font-style: normal}
table, tbody, tfoot, thead, tr, th, td {border-collapse: collapse;border-spacing: 0;padding: 0px;margin: 0px;}