/*
预处理
	sass
	less
	stylus

	编译Sass文件所需工具:
		gulp
		gulp-sass
*/

@import 'common.scss';
@import 'reset.scss';
//变量
$mainColor: #f60;
$fontSize:14px;
.clearfix::after{
	content:'';
	display:block;
	clear:both;
}
body{color:#333;}

// 嵌套
.header{
	background-color: #F1EEED;z-index: 1000;position: relative;
}