/*
预处理
	sass
	less
	stylus

	编译Sass文件所需工具:
		gulp
		gulp-sass
*/

@import 'common.scss';
@import 'reset.scss';
//变量
$mainColor: #f60;
$fontSize:14px;

// 嵌套
.header{
		.header_top{
			.swap {
				background-color: #F1EEED;
				z-index: 1000;
				position: relative;
			}
			background: url(../img/hmepage/bg_header4.png) repeat-x;position: relative;
			li{
				float: left;padding: 7px 8px;line-height: 16px;color: #85726c;height: 16px;
				em{color: #c53f4c;font-size: 14px;}
				a{
					color: #85726c;
					&:hover{color:#c53f4c;text-decoration: underline};
				};
			}
			.userinfo{
				height: 30px;position: relative;
				.register{color: #85726c;background: 0;background-position: -180px -200px;font-weight: bold}
			}
			.sitelinks{
				.weight{color: #85726c;font-weight: bold}
				.dropdown{
					position: relative;
					ul{
						>li{
							float:none;
						}
					}
					>a{display: block;background-position: right -187px;padding-right: 10px;background: url(../img/hmepage/bg_header4.png) no-repeat}
					.arrow_top{display: none;width: 14px;height: 7px;position: absolute;top: 24px;left: 50%;margin-left: -7px;background-position: -123px -183px;}
					ul{
						display: none;position: absolute;top: 30px;left: 0;background-color: #fff;width: 100px;padding: 5px 0;color: #5b473d;
						li{
							line-height: 24px;padding: 0;float: none;margin: 0;height: 24px;overflow: hidden;
							a{
								display: block;color: #5b473d;padding: 0 8px;
								&:hover{
									color: #ffffff;  background: red;text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
		.header_center{
			position: relative;height: 100px;background-color: #f1eeed;
			.logo{
				.main_logo{
					display: block;width: 200px;height: 100px;background: url(../img/hmepage/logo2.png) no-repeat left center;
					a{float: left;display: inline;width: 100%;height: 100%;}
				}
				.logo_app{width: 163px;height: 100px;margin: 0px;background: transparent url(//img14.yesmyimg.com/images/event/2015/11/logo.png) no-repeat 0px 0px;float: left;}
				.center_right{
					.head_search{
						float: left;margin-top: 30px;
						.search{
							display: block;overflow: hidden;height: 35px;
							.input_area{
								float: left;padding: 5px;width: 370px;height: 23px;border: solid 1px #ed1c24;border-right: 0;background-color: #f4f1f0;color: #a89893;font-size: 14px;
							}
							.btn-search{
								overflow: hidden;width: 80px;height: 35px;border: 0;background:url(../img/hmepage/bg_header5.png) no-repeat -120px -391px;text-indent: -10000px;
							}
						}
						p{
							display: block;overflow: hidden;height: 24px;line-height: 24px;
							a{margin-right: 10px;color: #a89893;}
						}
					}
					.shopcart{
						position: relative;float: left;margin-top: 30px;margin-left: 30px;
						.btn-shopcart{
							display: block;padding-left: 13px;width: 110px;height: 35px;background:url(../img/hmepage/bg_header5.png) no-repeat 0 -160px;color: #fff;text-align: center;font-size: 14px;line-height: 35px;
						}
					}
				}
			}
		}
		.header_buttom{
			position: relative;background-color: #D3161B;
			.swap{
				position: relative;height: 35px;
				.navlinks{
					overflow: hidden;padding-left: 200px;height: 35px;
					li{
						float: left;padding: 8px 0;height: 19px;line-height: 19px;
						a{
							float: left;padding: 0 20px;height: 19px;color: #ede8e6;text-align: center;text-decoration: none;font-size: 14px;
						}
					}
					.active {margin-left: -2px;padding-left: 2px;background-color: #bc0001;}
					.bar{
						poistion:relative;
						a{
							padding-right: 30px;padding-left: 15px;background:url("../img/hmepage/bg_header4.png" ) no-repeat right -166px;
						}
					};
				}
				.categorys{
					position: absolute;top: 0;left: 0;width: 200px;
					h3{
						position: relative;padding: 8px 10px;height: 19px;background-color: #a11011;line-height: 19px;
						a{
							display: block;
							padding-left: 20px;
							background:url('../img/hmepage/bg_header5.png') no-repeat -180px -160px;
							color: #ece7e5;text-decoration: none;letter-spacing: 5px;font-size: 15px;font-family: 微软雅黑;
						}
					}

					.categroup {
						display: block;height: 500px;
						dl{
							position: relative;
							dt{
								overflow: hidden;padding: 3px 10px;height: auto;border-top: solid 1px #d4d4d4;
								p{
									line-height: 24px;
									.hot_menu{
										position: absolute;top: 5px;left: 70px;display: block;margin-top: 5px;margin-right: 86px;margin-left: 10px;width: 23px;height: 11px;background: url(//img11.yesmyimg.com/newWeb/css/v3/images/hp/hot.png) no-repeat 0 0;
									}

								}
									a{
										display: inline;margin: 3px 8px 3px 0;white-space: nowrap;line-height: 18px;font-size: 12px;
									}
								}
								h4{
									height: 20px;background:url("../img/hmepage/bg_header4.png") no-repeat right -203px;line-height: 20px;
									a{
										color: #666;font-size: 14px;
									}
								}
							}
						}
						.first{
							dd{
								h5{
									width:80px;
								}
							}
						}
						dd{
							position: absolute;top: -1px;left: 200px;display: none;overflow: hidden;width: 520px;height: 80px;box-shadow: 0 6px 12px rgba(0,0,0,0.3);display: none;
							ul{
								float: left;padding: 0 10px;width: 240px;height: 100%;
								li{
									padding: 4px 0 10px;border-top: dotted 1px #81665c;
									&:first-child{
										border-top:0;
									}
									h5{
										float: left;width: 40px;color: #666;font-weight: normal;font-size: 14px;line-height: 24px;font-family: '微软雅黑';
										a{color: #666;font-family: 微软雅黑;}
									}
									.lh22{
										line-height: 22px;
										a{
											height: 22px;line-height: 22px;
										}
									}
									.col2{
										a:{width: 75px};
									}
									p{
										margin-left: 50px;line-height: 24px;
										a{
											float: left;display: inline-block;overflow: hidden;width: 60px;height: 24px;line-height: 24px;
										}
										.bg{
											padding: 0 5px;border-radius: 10px;background: #D3161B;color: #fff;
										}
									}
								}
							}
						}
						.h400{
							height: 400px;
							.subcates{
								backgrpund-color:rgba(255,255,255,0.9);
								p{
									margin-left: 85px;
								}
							}
						}
						.h100{
							height: 100px;
							h5{
								width: 68px;
							}
							p{
								.whole{
									margin-left: 18px;
								}
							}
						}
					}
				}
			}
		}