@import 'common.scss';
@import 'reset.scss';

.logo{
    border-bottom: 2px solid #bc0e31;
    .swap{
      padding: 20px 0;
      h2{overflow: hidden}
      img{height:53px;}
  }
}
.wrapper{
    .swap{
      padding: 30px 0;
      .ads{float: left;width: 770px;text-align: center}
      .login{
        border: 1px solid #ddd;background: #fff;opacity: 1;
        .login-list{
          padding: 70px 50px 0px 35px;
          background: url('../img/login/login_text.gif') no-repeat 30px 25px;
          dl{
            padding: 8px 0;overflow: hidden;margin:0;
            dd{margin:0}
            .logon{line-height: 20px;width: 300px;height: 20px;position: relative; margin-top: 6px;}
            .textarea{
              color: #666;height: 30px;line-height: 32px;padding: 0 5px;width: 288px; font-size: 14px;
            }
            .email{
              background: url('../img/login/hint_logname.gif') no-repeat 5px 8px;
            }
            .password{
              background:url('../img/login/hint-password.gif') no-repeat 5px 8px;
            }
            .error_hint{
              display: block;line-height: 20px;background: url(../img/login/icon_error.gif) no-repeat 0 3px;padding-left: 16px;color: #f00;width: 280px;margin-top: 3px
            }
            .auto_login{

            }
            .btn{
                width: 300px;height: 40px; border: none;display: block;color: #fff;font-family: 'Microsoft Yahei'; font-size: 18px;cursor: pointer;background: url("../img/login/btn_login.gif");
              }
            }
          .forget{
              padding:2px 0;
              a{
                color: #3472B2;
              }
            }
          }
        .partner{
          color: #999;padding: 0 30px 10px 30px;_width: 260px;border-top: dotted 1px #ccc;margin-top: 15px;
            p{
              line-height: 32px; margin-bottom:2px;
            }
            .weibo{
              background: url("../img/login/btn_weibo.jpg");
            }
            .pay{
              background:url("../img/login/btn_alipay.jpg");
            }
            .qq{
                background: url("../img/login/")
            }
            a{
              width: 96px;height: 30px; overflow: hidden;display: inline-block;
            }

          }
        }
      }
    }


.footer{
  margin-top: 20px;margin-right: auto;margin-left: auto;padding-top: 10px;border-top: solid 1px #ccc;
  .foot-license{
    height: 20px;color: #999;text-align: center;line-height: 20px;padding:5px 0;
    span{
      height:20px;display: inline-block;
    }
    .top100{background:url("../img/login/bg_header2.png") no-repeat -180px -230px;padding-left: 22px;}
    .year18{background:url("../img/login/bg_header2.png") no-repeat -180px -250px;padding-left: 22px;} ;
    .shzxw{background: url("../img/login/bg_header2.png") no-repeat -180px -270px;padding-left: 22px;}
    .shgs{background: url("../img/login/bg_header2.png") no-repeat -180px -290px;padding-left: 22px;}
  }
  .copyRight{
    color: #999;text-align: center;line-height: 30px;
    >a{
      color:#999;
      &:hover{
        text-decoration: underline;
      }
    }
    .cx{
      overflow: hidden;margin: 0 auto;width: 356px;
      span{margin-left: 10px;display: inline;}
    }
  }
}