@charset "UTF-8";
.clearfix::after { content: ''; display: block; clear: both; }

.left { float: left; }

.right { float: right; }

.swap { width: 1200px; margin: 0 auto; }

.mt20 { margin-top: 20px; }

.mb20 { margin-bottom: 20px; }

fieldset, img { border: 0; }

.wrap { width: 960px; margin: 0 auto; }

ul { list-style: none; padding: 0; margin: 0; }

a { color: #333; text-decoration: none; font-size: 12px; }

a:hover { text-decoration: none; }

body { color: #333; font-size: 14px; font-family: '微软雅黑'; margin: 0; }

p, h1, h2, h3, h4, h5, dl, dt, dd, font { padding: 0; margin: 0; }

span { font-size: 12px; }

em, i { font-style: normal; }

table, tbody, tfoot, thead, tr, th, td { border-collapse: collapse; border-spacing: 0; padding: 0px; margin: 0px; }

body { background: #fbfaf9; color: #333; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; }

.ym-nBar-user-default, .ym-nBar-cart-logo, .ym-nBar-asset-logo, .ym-nBar-charge-logo, .ym-nBar-feedback-logo, .ym-nBar-chat-logo, .ym-nBar-chat-title em, .ym-nBar-chat-min, .ym-nBar-chat-max, .ym-nBar-chat-close, .ym-nBar-valid-logo, .ym-nBar-tab-valid .error, .ym-nBar-qrcode-logo, .ym-nBar-backtop-logo, .ym-nBar-pop-sign, .ym-nBar-pop-box li em, .ym-nBar-pop-privs a, .bubble_l .ym-nBar-chat-head, .bubble_r .ym-nBar-chat-head { background-image: url(../img/goods/nBar_icon.png?20150309); background-repeat: no-repeat; width: 20px; height: 20px; }

.ym-nBar-tab-user, .ym-nBar-tab-cart, .ym-nBar-tab-feedback, .ym-nBar-tab-chat, .ym-nBar-tab-valid { border-bottom: 1px solid #8b1a1b; }

.ym-nBar-pop { position: absolute; right: 34px; z-index: 1001; display: none; padding: 20px; height: auto; border: 1px solid #ddd; background: #fff; box-shadow: 0 0 2px #ccc; }

.ym-nBar-pop .ym-nBar-pop-icon { position: absolute; right: -8px; top: 10px; color: #fff; font-family: "宋体"; font-size: 16px; height: 16px; line-height: 16px; text-align: center; width: 16px; }

.header .header_top { background: url(../img/hmepage/bg_header4.png) repeat-x; position: relative; }

.header .header_top .swap { background-color: #F1EEED; z-index: 1000; position: relative; }

.header .header_top li { float: left; padding: 7px 8px; line-height: 16px; color: #85726c; height: 16px; }

.header .header_top li em { color: #c53f4c; font-size: 14px; }

.header .header_top li a { color: #85726c; font-size: 12px; }

.header .header_top li a:hover { color: #c53f4c; }

.header .header_top .userinfo { height: 30px; position: relative; }

.header .header_top .userinfo .register { background: url("../img/goods/bg_header3.png") no-repeat -180px -200px; font-weight: bold; }

.header .header_top .userinfo .register a { color: #85726c; background: 0; }

.header .header_top .userinfo .bldr { background: url(../img/goods/bg_header3.png) no-repeat -180px -200px; }

.header .header_top .userinfo a img { vertical-align: middle; width: 16px; border: 0; height: 16px; }

.header .header_top .sitelinks .weight { color: #85726c; font-weight: bold; }

.header .header_top .sitelinks .dropdown { position: relative; }

.header .header_top .sitelinks .dropdown ul > li { float: none; }

.header .header_top .sitelinks .dropdown > a { display: block; background-position: right -187px; padding-right: 10px; background: url(../img/hmepage/bg_header4.png) no-repeat; }

.header .header_top .sitelinks .dropdown .arrow_top { display: none; width: 14px; height: 7px; position: absolute; top: 24px; left: 50%; margin-left: -7px; background-position: -123px -183px; }

.header .header_top .sitelinks .dropdown ul { display: none; position: absolute; top: 30px; left: 0; background-color: #fff; width: 100px; padding: 5px 0; color: #5b473d; }

.header .header_top .sitelinks .dropdown ul li { line-height: 24px; padding: 0; float: none; margin: 0; height: 24px; overflow: hidden; }

.header .header_top .sitelinks .dropdown ul li a { display: block; color: #5b473d; padding: 0 8px; }

.header .header_top .sitelinks .dropdown ul li a:hover { color: #ffffff; background: red; text-decoration: none; }

.header .header_center { position: relative; height: 100px; background-color: #f1eeed; }

.header .header_center .logo .main_logo { display: block; width: 130px; height: 100px; background: url(../img/goods/logo.png) no-repeat left center; }

.header .header_center .logo .main_logo a { float: left; display: inline; width: 100%; height: 100%; }

.header .header_center .logo .logo_app { width: 163px; height: 100px; margin: 0px; background: transparent url(//img14.yesmyimg.com/images/event/2015/11/logo.png) no-repeat 0px 0px; float: left; }

.header .header_center .logo .center_right .head_search { float: left; margin-top: 30px; }

.header .header_center .logo .center_right .head_search .search { display: block; overflow: hidden; height: 35px; }

.header .header_center .logo .center_right .head_search .search .input_area { float: left; padding: 5px; width: 370px; height: 23px; border: solid 1px #dcd3cf; border-right: 0; background-color: #f4f1f0; color: #a89893; font-size: 14px; }

.header .header_center .logo .center_right .head_search .search .btn-search { overflow: hidden; width: 80px; height: 35px; border: 0; background: url(../img/goods/bg_header3.png) no-repeat 0 -230px; text-indent: -10000px; }

.header .header_center .logo .center_right .head_search p { display: block; overflow: hidden; height: 24px; line-height: 24px; }

.header .header_center .logo .center_right .head_search p a { margin-right: 10px; color: #a89893; font-size: 12px; }

.header .header_center .logo .center_right .head_search p a:hover { color: #c53f4c; }

.header .header_center .logo .center_right .shopcart { position: relative; float: left; margin-top: 30px; margin-left: 30px; }

.header .header_center .logo .center_right .shopcart .btn-shopcart { display: block; padding-left: 13px; width: 110px; height: 35px; background: url(../img/hmepage/bg_header5.png) no-repeat 0 -160px; color: #fff; text-align: center; font-size: 14px; line-height: 35px; }

.header .header_buttom { position: relative; background-color: #7e0001; }

.header .header_buttom .swap { position: relative; height: 35px; }

.header .header_buttom .swap .navlinks { overflow: hidden; padding-left: 200px; height: 35px; }

.header .header_buttom .swap .navlinks li { float: left; padding: 8px 0; height: 19px; line-height: 19px; }

.header .header_buttom .swap .navlinks li a { text-decoration: none; float: left; padding: 0 10px; height: 19px; color: #ede8e6; text-align: center; text-decoration: none; font-size: 14px; background: url("../img/goods/bg_header.png") no-repeat right -166px; }

.header .header_buttom .swap .navlinks li:hover { margin-left: -2px; padding-left: 2px; background-color: #58322c; }

.header .header_buttom .swap .navlinks .bar { position: relative; }

.header .header_buttom .swap .navlinks .bar a { padding-right: 30px; padding-left: 15px; background: url("../img/hmepage/bg_header4.png") no-repeat right -166px; }

.header .header_buttom .swap .navlinks .bar span { position: absolute; width: 23px; height: 11px; background: url("../img/goods/new.png"); color: #7E0001; top: 5px; right: 5px; }

.header .header_buttom .swap .active { margin-left: -2px; padding-left: 2px; background-color: #bc0001; }

.header .header_buttom .categorys { position: absolute; top: 0; left: 0; width: 200px; z-index: 100; }

.header .header_buttom .categorys h3 { position: relative; padding: 8px 10px; height: 19px; background-color: #624b40; line-height: 19px; }

.header .header_buttom .categorys h3 a { display: block; padding-left: 20px; background: url("../img/hmepage/bg_header5.png") no-repeat -180px -160px; color: #ece7e5; text-decoration: none; letter-spacing: 5px; font-size: 15px; font-family: 微软雅黑; }

.header .header_buttom .categorys h3 .arrow { background: url("../img/goods/bg_header3.png") no-repeat -160px -175px; position: absolute; top: 15px; right: 12px; display: block; overflow: hidden; width: 11px; height: 6px; }

.header .header_buttom .categorys .categroup { display: none; height: 500px; background: #73584a; }

.header .header_buttom .categorys .categroup dl { position: relative; }

.header .header_buttom .categorys .categroup dl dt { overflow: hidden; padding: 3px 10px; height: auto; border-top: solid 1px #81665c; border-bottom: solid 1px #624b40; }

.header .header_buttom .categorys .categroup dl dt p { line-height: 24px; }

.header .header_buttom .categorys .categroup dl dt p .hot_menu { position: absolute; top: 5px; left: 70px; display: block; margin-top: 5px; margin-right: 86px; margin-left: 10px; width: 23px; height: 11px; background: url(//img11.yesmyimg.com/newWeb/css/v3/images/hp/hot.png) no-repeat 0 0; }

.header .header_buttom .categorys .categroup dl dt p .bg { padding: 0 5px; border-radius: 10px; background: #392d26; color: #fff; }

.header .header_buttom .categorys .categroup dl dt a { display: inline; margin: 3px 8px 3px 0; white-space: nowrap; line-height: 18px; font-size: 12px; }

.header .header_buttom .categorys .categroup dl h4 { height: 20px; background: url("../img/hmepage/bg_header4.png") no-repeat right -203px; line-height: 20px; }

.header .header_buttom .categorys .categroup dl h4 a { color: #ede8e6; font-size: 14px; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.header .header_buttom .categorys .categroup dl a { color: #b8a199; }

.header .header_buttom .categorys .first dd h5 { width: 80px; }

.header .header_buttom .categorys dd { position: absolute; top: -1px; left: 150px; opacity: 1; overflow: hidden; width: 520px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); background-color: #fff; display: none; }

.header .header_buttom .categorys dd ul { float: left; padding: 0 10px; width: 240px; height: 100%; }

.header .header_buttom .categorys dd ul li { padding: 4px 0 10px; border-top: dotted 1px #81665c; }

.header .header_buttom .categorys dd ul li:first-child { border-top: 0; }

.header .header_buttom .categorys dd ul li h5 { float: left; width: 40px; color: #ede8e6; font-weight: normal; font-size: 14px; line-height: 24px; font-family: '微软雅黑'; }

.header .header_buttom .categorys dd ul li h5 > a { color: #ede8e6; font-family: 微软雅黑; }

.header .header_buttom .categorys dd ul li .lh22 { line-height: 22px; overflow: hidden; }

.header .header_buttom .categorys dd ul li .lh22 a { height: 22px; line-height: 22px; }

.header .header_buttom .categorys dd ul li .col2 a { width: 75px; }

.header .header_buttom .categorys dd ul li p { margin-left: 50px; line-height: 24px; overflow: hidden; }

.header .header_buttom .categorys dd ul li p a { float: left; display: inline-block; overflow: hidden; width: 50px; height: 24px; line-height: 24px; font-size: 12px; }

.header .header_buttom .categorys dd .subcates { background-color: #624b40; }

.header .header_buttom .categorys dd .relcates { background-color: #58443a; }

.header .header_buttom .categorys .h400 { height: 400px; }

.header .header_buttom .categorys .h400 .subcates { background-color: #624b40; }

.header .header_buttom .categorys .h400 .subcates p { margin-left: 85px; overflow: hidden; }

.header .header_buttom .categorys .h400 .subcates h5 a { color: #ede8e6; }

.header .header_buttom .categorys .h400 .relcates { background-color: #58443a; }

.header .header_buttom .h100 { height: 100px; }

.header .header_buttom .h100 h5 { width: 68px; }

.header .header_buttom .h100 p .whole { margin-left: 18px; }

.content .crumb { width: 960px; margin: 10px auto 0; color: #666; }

.content .crumb strong { font-weight: bold; font-size: 12px; color: #666; }

.content .promotion { margin-top: 10px; margin-bottom: 20px; width: 960px; }

.content .promotion .promotion_pic { float: left; width: 380px; }

.content .promotion .promotion_pic .big { float: left; width: 380px; height: 440px; background: #fff; }

.content .promotion .promotion_pic .big .image { position: relative; z-index: 10; display: block; width: 378px; height: 438px; border: 1px solid #cbcbcb; }

.content .promotion .promotion_pic .big .image > span { position: absolute; display: block; width: 30px; height: 60px; background: url("../img/goods/icon (1).png") no-repeat; cursor: pointer; }

.content .promotion .promotion_pic .big .image .btn-prev { top: 190px; left: 5px; z-index: 100; background-position: 0 -30px; }

.content .promotion .promotion_pic .big .image .btn-next { top: 190px; right: 5px; z-index: 100; background-position: -30px -30px; }

.content .promotion .promotion_pic .big .image em { position: absolute; right: 0; bottom: 0; width: 18px; height: 18px; background: url("../img/goods/icon (1).png") no-repeat -60px -30px; }

.content .promotion .promotion_pic .big .image a { outline-style: none; text-decoration: none; cursor: crosshair; display: block; position: relative; width: 378px; height: 438px; }

.content .promotion .promotion_pic .big .image a > img { position: absolute; top: 0px; left: 79px !important; display: block; margin: 0 auto; padding: 39px 0; width: 220px; height: 360px; }

.content .promotion .promotion_pic .small { position: relative; float: left; margin: 10px 0 20px; width: 380px; height: 70px; }

.content .promotion .promotion_pic .small a { position: absolute; display: block; width: 15px; height: 50px; background: url("../img/goods/icon (1).png") no-repeat; }

.content .promotion .promotion_pic .small .prev { top: 10px; left: 10px; background-position: -78px -30px; }

.content .promotion .promotion_pic .small .next { top: 10px; right: 10px; background-position: -93px -30px; }

.content .promotion .promotion_pic .small .disabled { opacity: 0.5; cursor: no-drop; }

.content .promotion .promotion_pic .small .smallPic { display: block; overflow: hidden; margin: 0 auto; width: 310px; height: 70px; }

.content .promotion .promotion_pic .small .smallPic ul { float: left; width: 20000em; height: 70px; }

.content .promotion .promotion_pic .small .smallPic ul li { float: left; margin-right: 10px; width: 68px; height: 68px; opacity: 0.5; border: 1px solid #e6e1db; background: #fff; cursor: pointer; }

.content .promotion .promotion_pic .small .smallPic ul li img { display: block; margin: 1px auto; width: 40px; height: 65px; }

.content .promotion .promotion_pic .small .smallPic ul .on { opacity: 1; }

.content .promotion .promotion_pic .temperature { float: left; padding: 0 0 15px 75px; width: 305px; height: 30px; color: #937966; font-size: 12px; line-height: 30px; }

.content .promotion .promotion_pic .temperature span { margin: 0 10px 0 5px; }

.content .promotion .promotion_pic .temperature .temp .temp-icon { display: inline-block; padding-left: 15px; background: url("../img/goods/icon (1).png") no-repeat -190px -57px; }

.content .promotion .promotion_pic .share { float: left; padding: 0 0 0 60px; width: 320px; }

.content .promotion .promotion_pic .share .addicon { float: left; padding-left: 28px; width: 45px; height: 27px; background: url("../img/goods/icon (1).png") no-repeat -108px -30px; color: #666; text-decoration: none; font-size: 12px; line-height: 27px; }

.content .promotion .promotion_pic .share .sharebox { float: left; margin-left: 10px; padding-left: 10px; width: 158px; height: 25px; border-color: #ddd; border-style: solid; border-width: 1px; background: #fff; }

.content .promotion .promotion_pic .share .sharebox h4 { float: left; width: 50px; color: #333; font-weight: normal; line-height: 25px; font-size: 12px; }

.content .promotion .promotion_pic .share .sharebox .sharelist { float: left; overflow: hidden; width: 88px; height: 25px; }

.content .promotion .promotion_pic .share .sharebox .sharelist .share_icon { padding-bottom: 2px; font-size: 12px; float: left; text-align: left !important; zoom: 1; width: 118px; }

.content .promotion .promotion_pic .share .sharebox .sharelist .share_icon a { background: url("../img/goods/is.png?cdnversion=20131219") no-repeat; display: block; font-family: '宋体',Arial; height: 16px; float: left; cursor: pointer; padding-top: 6px; padding-bottom: 3px; padding-left: 22px; }

.content .promotion .promotion_pic .share .sharebox .sharelist .share_icon .sina { background-position: 0 -115px; }

.content .promotion .promotion_pic .share .sharebox .sharelist .share_icon .qq { background-position: 0 -235px; }

.content .promotion .promotion_pic .share .sharebox .sharelist .share_icon .renren { background-position: 0 -195px; }

.content .promotion .promotion_pic .share .sharebox .sharelist .share_icon .qzone { background-position: 0 -75px; }

.content .promotion .promotion_pic .share .sharebox .sharelist .right { float: left; width: 20px; height: 25px; background: url("../img/goods/icon (1).png") no-repeat -108px -58px; }

.content .promotion .promotion_middle { margin-left: 400px; width: 560px; }

.content .promotion .promotion_middle .middle_top { position: relative; z-index: 15; margin-bottom: 20px; width: 560px; border-bottom: 1px solid #e6e1db; }

.content .promotion .promotion_middle .middle_top .name { display: table; width: 560px; height: auto; }

.content .promotion .promotion_middle .middle_top .name li { float: left; overflow: hidden; line-height: 20px; }

.content .promotion .promotion_middle .middle_top .name li h1 { display: block; margin-right: 10px; color: #000; font-weight: bold; font-size: 14px; }

.content .promotion .promotion_middle .middle_top .name li .en { display: block; overflow: hidden; height: 20px; color: #999; white-space: nowrap; }

.content .promotion .promotion_middle .middle_top .info { display: table; width: 560px; }

.content .promotion .promotion_middle .middle_top .info li { float: left; width: 560px; }

.content .promotion .promotion_middle .middle_top .info .info_top { margin-top: 10px; }

.content .promotion .promotion_middle .middle_top .info .info_top dl { float: left; width: 180px; height: 20px; }

.content .promotion .promotion_middle .middle_top .info .info_top dl dt { float: left; margin: 0; padding: 0; width: 60px; color: #999; line-height: 20px; font-size: 12px; }

.content .promotion .promotion_middle .middle_top .info .info_top dl dd { margin-left: 65px; }

.content .promotion .promotion_middle .middle_top .info .info_top dl dd .rate { display: inline-block; margin: 0; padding: 0; width: 110px; height: 20px; background: url("../img/goods/icon (1).png") no-repeat -50px -87px; }

.content .promotion .promotion_middle .middle_top .info .info_top dl dd .rate i { display: block; overflow: hidden; margin: 0; padding: 0; height: 20px; background: url("../img/goods/icon (1).png") no-repeat -50px -107px; }

.content .promotion .promotion_middle .middle_top .info .info_top .data { float: left; height: 20px; line-height: 20px; }

.content .promotion .promotion_middle .middle_top .info .info_top .data span { float: left; margin-right: 25px; color: #999; }

.content .promotion .promotion_middle .middle_top .info .info_top .data span a { padding-left: 5px; color: #09c; }

.content .promotion .promotion_middle .middle_top .info .pro-icon { display: block; padding: 8px; height: 24px; background: #ffffe7; margin-top: 10px; }

.content .promotion .promotion_middle .middle_top .info .pro-icon b { margin-right: 5px; width: 24px; height: 24px; display: inline-block; background: url(../img/goods/new-icon.png?v=20150309) no-repeat -116px -90px; }

.content .promotion .promotion_middle .promotion_sales { margin-bottom: 0; height: 50px; display: table; width: 560px; }

.content .promotion .promotion_middle .promotion_sales .cx { position: relative; z-index: 10; padding: 5px 0; height: 18px; width: 560px; }

.content .promotion .promotion_middle .promotion_sales .cx dt { float: left; width: 60px; height: 18px; color: #999; line-height: 18px; }

.content .promotion .promotion_middle .promotion_sales .cx dd { overflow: hidden; margin-left: 65px; width: 495px; height: 18px; color: #957a67; line-height: 18px; }

.content .promotion .promotion_middle .promotion_sales .cx dd b { display: inline-block; width: 60px; height: 18px; text-align: center; background: #d73c3c; color: #fff; font-weight: normal; vertical-align: top; border-radius: 4px; }

.content .promotion .promotion_middle .promotion_sales .cx dd em { display: inline-block; width: 350px; font-style: normal; margin-left: 10px; }

.content .promotion .promotion_middle .promotion_sales .cx .active { position: absolute; top: 0; right: 0; z-index: 10; padding: 5px 0; height: auto; border: 1px solid #fe9238; background-color: #ffffe8; }

.content .promotion .promotion_middle .promotion_sales .cx .active div { padding: 0 0 5px 5px; }

.content .promotion .promotion_middle .promotion_sales .cx .more { position: absolute; top: 5px; right: 5px; display: block; padding-right: 15px; color: #09c; cursor: pointer; }

.content .promotion .promotion_middle .promotion_sales .cx .more i { position: absolute; top: 6px; right: 0; display: inline-block; padding: 0; width: 0; height: 0; border: 6px solid #fbfaf9; border-top-color: #09c; }

.content .promotion .promotion_middle .promotion_price { display: table; width: 560px; }

.content .promotion .promotion_middle .promotion_price li { float: left; color: #999; line-height: 36px; }

.content .promotion .promotion_middle .promotion_price li .discount { overflow: hidden; margin-top: 15px; height: 50px; border: 1px solid #e6e1db; border-right: 0; line-height: 30px; }

.content .promotion .promotion_middle .promotion_price li .discount p { float: left; padding: 0 25px; height: 50px; border-right: 1px solid #e6e1db; background: #fff; color: #927966; text-align: center; line-height: 50px; }

.content .promotion .promotion_middle .promotion_price li .discount p em { margin: 0 3px; color: #666; font-weight: bold; font-size: 16px; }

.content .promotion .promotion_middle .promotion_price li .discount p em i { color: #999; }

.content .promotion .promotion_middle .promotion_price li .discount p b { margin: 0 3px; color: #090; font-weight: bold; font-size: 16px; }

.content .promotion .promotion_middle .promotion_price .price { position: relative; z-index: 8; width: 560px; }

.content .promotion .promotion_middle .promotion_price .price span { float: left; }

.content .promotion .promotion_middle .promotion_price .price span b { color: #c00; margin-right: 10px; font-weight: normal; line-height: 30px; }

.content .promotion .promotion_middle .promotion_price .price span b em { font-weight: normal; font-size: 36px; }

.content .promotion .promotion_middle .distribution { display: table; width: 560px; height: auto; background: #ffffe8; }

.content .promotion .promotion_middle .distribution .dis_area { z-index: 8; padding: 20px; width: 518px; height: auto; border: 1px dashed #fec083; }

.content .promotion .promotion_middle .distribution .dis_area ul { position: relative; z-index: 6; }

.content .promotion .promotion_middle .distribution .dis_area ul li { z-index: 5; display: block; padding: 3px 0; height: auto; line-height: 26px; }

.content .promotion .promotion_middle .distribution .dis_area ul li span { float: left; width: 60px; }

.content .promotion .promotion_middle .distribution .dis_area ul li .city_btn { position: relative; float: left; display: block; overflow: hidden; padding: 0 5px; width: 80px; height: 24px; border: 1px solid #ccc; background: #fff; line-height: 24px; cursor: pointer; }

.content .promotion .promotion_middle .distribution .dis_area ul li .city_btn i { position: absolute; top: 10px; left: 74px; overflow: hidden; width: 0; height: 0; border-color: #999 #fff #fff; border-style: solid; border-width: 6px; }

.content .promotion .promotion_middle .distribution .dis_area ul li ins { padding-left: 5px; color: #666; text-decoration: none; }

.content .promotion .promotion_middle .distribution .dis_area ul li ins b { padding-right: 2px; color: #c00; }

.content .promotion .promotion_middle .distribution .dis_area ul .wineNum .prev { float: left; overflow: hidden; margin-top: 5px; margin-right: 5px; width: 16px; height: 16px; background: url("../img/goods/icon (1).png") no-repeat 0 -232px; cursor: pointer; }

.content .promotion .promotion_middle .distribution .dis_area ul .wineNum .next { float: left; overflow: hidden; margin-top: 5px; margin-right: 15px; margin-left: 5px; width: 16px; height: 16px; background: url("../img/goods/icon (1).png") no-repeat -16px -232px; cursor: pointer; }

.content .promotion .promotion_middle .distribution .dis_area ul .wineNum input { float: left; margin-top: 3px; padding: 0 3px; width: 35px; height: 20px; border: 1px solid #e6e1db; text-align: center; line-height: 20px; }

.content .promotion .promotion_middle .distribution .dis_area ul .add { margin-top: 10px; height: 44px; }

.content .promotion .promotion_middle .distribution .dis_area ul .add a { float: left; overflow: hidden; margin-right: 10px; width: 210px; height: 44px; background: url("../img/goods/icon (1).png") no-repeat 0 -890px; }

.content .promotion .promotion_middle .promotionBottom { margin-top: 15px; padding-left: 15px; color: #957a67; }

.content .comb { border: 1px solid #e6e1db; background: #fff; }

.content .comb h3 { display: block; padding-left: 10px; height: 38px; border-bottom: 1px solid #e6e1db; background: #f3f0ed; color: #75473b; line-height: 38px; }

.content .comb .comblist { overflow-x: auto; overflow-y: hidden; width: 958px; height: 204px; }

.content .comb .comblist ul { width: 1590px; }

.content .comb .comblist ul li { float: left; width: 318px; }

.content .comb .comblist ul li .image { float: left; padding: 10px; }

.content .comb .comblist ul li .image img { width: 110px; height: 180px; }

.content .comb .comblist ul li .name a { display: block; overflow: hidden; margin-top: 20px; height: 50px; color: #333; font-size: 14px; }

.content .comb .comblist ul li .price span { display: block; }

.content .comb .comblist ul li .price span label { color: #666; }

.content .comb .comblist ul li .price span strong { color: #c00; font-weight: normal; }

.content .comb .comblist ul li p { margin-left: 130px; line-height: 25px; }

.content .comb .comblist ul li input { margin: 6px 6px 0 0; width: 102px; height: 26px; border: medium none; background: url("../img/goods/icon (1).png") no-repeat -62px -232px; cursor: pointer; }

.content .mainContent { width: 960px; height: auto; }

.content .mainContent h3 { float: left; width: 958px; height: 38px; border-color: #e6e1db #e6e1db #74463a #e6e1db; border-style: solid; border-width: 1px 1px 2px 1px; background: #f3f0ed; }

.content .mainContent h3 a { height: 38px; float: left; padding: 0 15px; width: 110px; height: 38px; background: url(../img/goods/line.gif) right center no-repeat; color: #74463a; text-align: center; font: 14px/38px 宋体; }

.content .mainContent h3 .hover { float: left; padding: 0 15px; height: 38px; background: url("../img/goods/icon (1).png") no-repeat 0 -764px; background-repeat: repeat-x; color: #fff; text-decoration: none; font: bold 14px/38px 宋体; }

.content .mainContent h3 input { float: right; margin: 6px 6px 0 0; width: 102px; height: 26px; border: 0; background: url("../img/goods/icon (1).png") no-repeat -62px -232px; cursor: pointer; }

.content .mainContent .tab { position: relative; float: left; }

.content .mainContent .tab .detail { overflow: hidden; margin-bottom: 15px; padding: 15px 0; width: 958px; border: 1px solid #e6e1db; border-top: 0; background: #fff; }

.content .mainContent .tab .detail ul { overflow: hidden; width: 965px; }

.content .mainContent .tab .detail ul li { float: left; overflow: hidden; margin: 0; padding: 0 10px; width: 220px; height: 30px; line-height: 30px; background: url(../img/goods/xuxianY.gif) repeat-y scroll right center transparent; }

.content .mainContent .tab .detail ul li span { display: block; overflow: hidden; margin-top: 7px; padding-left: 22px; height: 16px; background: url(http://img10.yesmywine.com/newWeb/images/product/xiangqingIco.png) no-repeat scroll 0 0 transparent; color: #666; line-height: 16px; }

.content .mainContent .tab .detail ul li span b { display: inline-block; padding-right: 10px; }

.content .mainContent .tab .procontent { overflow: hidden; margin-bottom: 15px; padding: 10px; width: 938px; border: 1px solid #e6e1db; background: #fff; color: #838383; font: 12px/160% "Arial"; }

.content .mainContent .tab .procontent fieldset { position: relative; margin: 20px 19px 0; padding: 30px 0 20px; border-style: solid none none; border-width: 1px medium medium; border-right: medium none; border-image: none; color: #333; font-size: 14px; font-family: 微软雅黑; }

.content .mainContent .tab .procontent fieldset legend { position: absolute; top: -15px; left: 30px; padding: 0 10px; background-color: #fff; color: #cc0e0e; font-size: 18px; line-height: 30px; }

.content .mainContent .tab .procontent fieldset .center { padding: 5px 0; }

.content .mainContent .tab .procontent fieldset .center img { display: block; margin: 0 auto; }

.content .mainContent .tab .procontent fieldset dl { margin-bottom: 11px; }

.content .mainContent .tab .procontent fieldset dl dd { margin: 0 0 0 380px; padding: 0; color: #333; font-size: 14px; font-family: 微软雅黑; }

.content .mainContent .tab .procontent fieldset dl dd p { line-height: 24px; }

.content .mainContent .tab .procontent fieldset dl dt { float: left; overflow: hidden; margin: 0; padding: 0; width: 360px; }

.content .mainContent .tab .comment { position: relative; margin-bottom: 15px; width: 958px; border: 1px solid #e6e1db; background: #fff; }

.content .mainContent .tab .comment h3 { float: none; width: 958px; border-color: #e6e1db #e6e1db #74463a #e6e1db; border-style: solid; border-width: 1px 1px 2px 1px; height: 38px; background: url("../img/goods/icon (1).png") repeat-x 0 -764px; }

.content .mainContent .tab .comment h3 a { float: right; padding: 0 15px; width: 110px; height: 38px; color: #74463a; text-align: center; font: 14px/38px 宋体; font-size: 12px; line-height: 30px; font-weight: 100; color: #fff; }

.content .mainContent .tab .comment h3 strong { width: 110px; text-align: center; font-size: 14px; height: 38px; display: inline-block; color: #fff; line-height: 38px; }

.content .mainContent .tab .comment .comment_head .comment_top { padding: 15px 0; }

.content .mainContent .tab .comment .comment_head .comment_top li { float: left; }

.content .mainContent .tab .comment .comment_head .comment_top .score { width: 140px; border-right: dotted 1px #999; padding-left: 15px; }

.content .mainContent .tab .comment .comment_head .comment_top .score p { margin-bottom: 5px; }

.content .mainContent .tab .comment .comment_head .comment_top .score p label { margin-left: 5px; }

.content .mainContent .tab .comment .comment_head .comment_top .score p .circle { display: block; width: 100px; height: 100px; background: url(../img/goods/bg_comment.gif) no-repeat 0 -448px; text-align: center; color: #333; }

.content .mainContent .tab .comment .comment_head .comment_top .score p .circle em { font-size: 40px; color: #548325; display: block; font-style: normal; font-family: Arial; line-height: 50px; padding-top: 10px; }

.content .mainContent .tab .comment .comment_head .comment_top .score p .circle em i { font-size: 18px; font-style: normal; }

.content .mainContent .tab .comment .comment_head .comment_top .score p .rate-score { display: inline-block; margin: 0; padding: 0; width: 110px; height: 20px; background: url("../img/goods/icon (1).png") no-repeat -50px -87px; }

.content .mainContent .tab .comment .comment_head .comment_top .score p .rate-score i { width: 100%; display: block; overflow: hidden; margin: 0; padding: 0; height: 20px; background: url("../img/goods/icon (1).png") no-repeat -50px -107px; }

.content .mainContent .tab .comment .comment_head .comment_top .grade { width: 200px; padding: 10px 15px; border-right: dotted 1px #999; }

.content .mainContent .tab .comment .comment_head .comment_top .grade p em { font-weight: bold; }

.content .mainContent .tab .comment .comment_head .comment_top .grade p a:hover { color: #970000; }

.content .mainContent .tab .comment .comment_head .comment_top .grade .percent { padding: 3px 0; }

.content .mainContent .tab .comment .comment_head .comment_top .grade .percent dt { float: left; width: 30px; line-height: 26px; }

.content .mainContent .tab .comment .comment_head .comment_top .grade .percent dd { float: left; width: 30px; line-height: 26px; text-align: right; }

.content .mainContent .tab .comment .comment_head .comment_top .grade .percent .volumn { width: 135px; text-align: left; }

.content .mainContent .tab .comment .comment_head .comment_top .grade .percent .volumn span { display: block; margin-top: 6px; height: 13px; background: url(../img/goods/bg_comment.gif) repeat-x left -40px; }

.content .mainContent .tab .comment .comment_head .comment_top .grade .percent .volumn span i { display: block; height: 13px; background: url(../img/goods/bg_comment.gif) repeat-x left -79px; }

.content .mainContent .tab .comment .comment_head .comment_top .grade .percent .volumn .best i { background-position: 0 -53px; width: 82%; }

.content .mainContent .tab .comment .comment_head .comment_top .grade .percent .volumn .better i { background-position: 0 -66px; width: 14%; }

.content .mainContent .tab .comment .comment_head .comment_top .grade .percent .volumn .normal i { background-position: 0 -79px; width: 4%; }

.content .mainContent .tab .comment .comment_head .comment_top .action { float: right; width: 200px; text-align: center; padding-top: 20px; }

.content .mainContent .tab .comment .comment_head .comment_top .action p { padding: 4px 0; color: #999; }

.content .mainContent .tab .comment .comment_head .comment_top .action p input { display: inline-block; width: 148px; height: 38px; line-height: 34px; background: url(../img/goods/bg_comment.gif) no-repeat 0 -92px; border: solid 2px #fdb; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; }

.content .mainContent .tab .comment .comment_head .comment_tab { padding: 0 10px; width: 940px; margin-bottom: 15px; }

.content .mainContent .tab .comment .comment_head .comment_tab ul { height: 34px; background: url(../img/goods/bg_comment.gif) repeat-x 0 -278px; border-left: solid 1px #ebd9c0; border-right: solid 1px #ebd9c0; }

.content .mainContent .tab .comment .comment_head .comment_tab ul li { height: 34px; line-height: 34px; padding: 0 20px; float: left; border-right: solid 1px #ebd9c0; cursor: pointer; color: #333; }

.content .mainContent .tab .comment .comment_head .comment_tab ul .on { background-color: #fffdf7; height: 32px; margin-top: 2px; color: #bd0021; }

.content .mainContent .tab .comment .comment_head .comment_tab p { height: 24px; line-height: 24px; background: url(../img/goods/bg_comment.gif) repeat-x 0 -312px; padding: 5px 15px; }

.content .mainContent .tab .comment .comment_head .comment_tab p a { display: inline-block; height: 24px; line-height: 24px; width: 71px; margin-right: 10px; text-align: center; background: url(../img/goods/bg_comment.gif) no-repeat 0 -421px; color: #bd0021; }

.content .mainContent .tab .comment .comment_list { padding: 0 10px; }

.content .mainContent .tab .comment .comment_list ul li { margin-bottom: 15px; }

.content .mainContent .tab .comment .comment_list ul li .user { display: block; width: 70px; float: left; }

.content .mainContent .tab .comment .comment_list ul li .user a img { width: 70px; height: 70px; }

.content .mainContent .tab .comment .comment_list ul li .user span { display: block; width: 70px; height: 25px; line-height: 25px; color: #999; overflow: hidden; margin: 0 auto; }

.content .mainContent .tab .comment .comment_list ul li ._detail { margin-left: 100px; position: relative; border: solid 1px #fc9; padding: 0 10px 10px; }

.content .mainContent .tab .comment .comment_list ul li ._detail b { display: block; width: 11px; height: 22px; position: absolute; top: 10px; left: -11px; background: url(../img/goods/bg_comment.gif) no-repeat -88px -346px; }

.content .mainContent .tab .comment .comment_list ul li ._detail h4 { font-size: 12px; height: 20px; line-height: 20px; padding: 9px 0; border-bottom: dotted 1px #ccc; font-weight: normal; }

.content .mainContent .tab .comment .comment_list ul li ._detail h4 span { margin-right: 15px; display: block; float: left; height: 20px; line-height: 25px; margin-left: 10px; }

.content .mainContent .tab .comment .comment_list ul li ._detail h4 a { color: #06c; }

.content .mainContent .tab .comment .comment_list ul li ._detail h4 .rate { margin: 0; padding: 0; width: 110px; }

.content .mainContent .tab .comment .comment_list ul li ._detail h4 .rate i { display: block; overflow: hidden; margin: 0; padding: 0; height: 20px; background: url("../img/goods/icon (1).png") no-repeat -50px -107px; }

.content .mainContent .tab .comment .comment_list ul li ._detail h4 .date { float: right; }

.content .mainContent .tab .comment .comment_list ul li ._detail .content { line-height: 22px; color: #5d5d5d; padding: 5px; word-break: break-all; word-wrap: break-word; overflow: hidden; }

.content .mainContent .tab .comment .comment_list ul li ._detail .content p img { width: 100px; height: 100px; vertical-align: top; }

.content .mainContent .tab .comment .comment_list ul li ._detail .action .reply { float: right; line-height: 24px; }

.content .mainContent .tab .comment .comment_list ul li ._detail .action .reply .btn-reply { height: 24px; border: solid 1px #ccc; background: url(../img/goods/bg_comment.gif) repeat-x 0 -192px; line-height: 24px; display: inline-block; padding: 0 10px; color: #666; }

.content .mainContent .tab .comment .comment_list ul li ._detail .action .reply .view-reply { background: url("../img/goods/bg_comment_icon.gif") no-repeat right -2px; padding-right: 15px; line-height: 24px; margin-left: 10px; }

.content .mainContent .tab .comment .comment_list ul li ._detail .action .action-rate { float: right; margin-right: 20px; line-height: 24px; }

.content .mainContent .tab .comment .comment_list ul li ._detail .action .action-rate a { color: #06c; margin-left: 5px; }

.content .mainContent .tab .comment .comment_list ul li ._detail .action .action-rate a span { color: #666; }

.bar { position: fixed; top: 0; right: 0; background: #7e0001; width: 34px; height: 100%; z-index: 1400; }

.bar .tabs { position: absolute; top: 0; left: 0; width: 34px; height: 100%; color: #fff; font-family: "Microsoft Yahei","微软雅黑","宋体"; }

.bar .tabs .ym-nBar-tab { position: absolute; padding: 7px; width: 20px; height: auto; display: block; cursor: pointer; }

.bar .tabs .ym-nBar-tab:hover { background: #000; }

.bar .tabs .ym-nBar-tab-user { top: 208.2px; }

.bar .tabs .ym-nBar-tab-cart { top: 248.2px; }

.bar .tabs .ym-nBar-tab-cart a .ym-nBar-cart-logo { background-position: -20px 1px; }

.bar .tabs .ym-nBar-tab-cart a .ym-nBar-cart-txt { text-align: center; line-height: 1.2; color: #fff; }

.bar .tabs .ym-nBar-tab-cart a .ym-nBar-cart-num { margin: 9px 0; background: #f46b0a; width: 20px; height: 20px; text-align: center; display: block; border-radius: 30px; }

.bar .tabs .ym-nBar-tab-cart a .ym-nBar-cart-num em { line-height: 20px; color: #fff; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop { top: 50%; margin-top: -5px; padding: 0; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .ym-nBar-pop-icon { position: absolute; right: -8px; top: 50%; color: #fff; font-family: "宋体"; font-size: 16px; height: 16px; line-height: 16px; text-align: center; width: 16px; margin-top: -8px; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list { width: 360px; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list .empty { color: #666; font-size: 14px; line-height: 30px; padding: 20px; text-align: center; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list h2 { padding: 15px 15px 10px 15px; color: #666; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list ul { padding: 0 15px; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list ul li { border-top: 1px dashed #ddd; height: 68px; line-height: 20px; padding: 20px 40px 20px 80px; position: relative; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list ul li a img { height: 98px; left: 10px; position: absolute; top: 5px; width: 60px; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list ul li a span { display: block; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list ul li a .name { color: #5b473d; height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list ul li a .en { color: #85726c; height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list ul li a .price { color: #85726c; padding-top: 10px; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list ul li a .price strong { color: #c53f4c; font-family: Arial; }

.bar .tabs .ym-nBar-tab-cart .ym-nBar-pop .shopcart-list ul li a .price em { font-style: normal; }

.bar .tabs .ym-nBar-tab-asset .ym-nBar-asset-logo { background-position: -40px 0; }

.bar .tabs .ym-nBar-tab-asset .ym-nBar-asset-logo .ym-nBar-pop-tip { padding: 7px 20px 7px 7px; width: 70px; height: 20px; line-height: 20px; color: #333; background: #ddd; border: none; top: 0; }

.bar .tabs .ym-nBar-tab-charge .ym-nBar-charge-logo { background-position: -60px 0; }

.bar .tabs .ym-nBar-tab-charge .ym-nBar-charge-logo .ym-nBar-pop-tip { padding: 7px 20px 7px 7px; width: 70px; height: 20px; line-height: 20px; color: #333; background: #ddd; border: none; top: 0; }

.bar .tabs .ym-nBar-tab-charge .ym-nBar-charge-logo .ym-nBar-pop-tip .ym-nBar-pop-icon { color: #ddd; }

.bar .tabs .ym-nBar-tab-chat { cursor: auto; position: relative; }

.bar .tabs .ym-nBar-tab-chat .ym-nBar-chat-logo { background-position: -160px 0; }

.bar .tabs .ym-nBar-tab-valid .ym-nBar-valid-logo { background-position: -140px 0; }

.footer { float: left; padding-bottom: 20px; width: 100%; background-color: #e8e8e8; }

.footer .footer_content > div { float: left; padding: 25px 0 0 15px; width: 304px; height: 375px; border-left: 1px solid #dcd7cf; }

.footer .footer_content > div h2 { margin-bottom: 25px; background: 0; color: #ba102e; font: bold 16px/30px 'microsoft yahei'; }

.footer .footer_content .footer_left a { display: block; margin-bottom: 20px; padding-left: 50px; height: 38px; background-image: url(../img/goods/icon.png); background-repeat: no-repeat; text-decoration: none; }

.footer .footer_content .footer_left a h3 { display: block; color: #666; font: bold 14px/19px arial; }

.footer .footer_content .footer_left a span { color: #999; line-height: 19px; }

.footer .footer_content .footer_left .zp { background-position: -109px 0; }

.footer .footer_content .footer_left .th { background-position: -109px -38px; }

.footer .footer_content .footer_left .hw { background-position: -109px -76px; }

.footer .footer_content .footer_left .free { background-position: -109px -114px; }

.footer .footer_content .footer_left .mf { background-position: -109px -152px; }

.footer .footer_content .footer_center ul { margin: 0; width: 360px; }

.footer .footer_content .footer_center ul li { padding: 0; width: 100px; height: 170px; color: #9d8e7f; float: left; }

.footer .footer_content .footer_center ul li h3 { color: #666; font-size: 14px; }

.footer .footer_content .footer_center ul li p { line-height: 20px; }

.footer .footer_content .footer_center ul li p a { display: block; color: #666; }

.footer .footer_content .footer_right { width: 303px; border-right: 1px solid #dcd7cf; }

.footer .footer_content .footer_right .mobile h3 { color: #666; font: bold 12px/30px arial; }

.footer .footer_content .footer_right .mobile a { float: left; margin-right: 15px; width: 109px; height: 30px; background-image: url(../img/goods/icon.png); background-repeat: no-repeat; text-indent: -999em; }

.footer .footer_content .footer_right .mobile .android { background-position: 0 -29px; }

.footer .footer_content .footer_right .code { margin-top: 20px; }

.footer .footer_content .footer_right .code dt { float: left; margin-right: 10px; width: 100px; height: 100px; background: url(../img/goods/icon.png?20141230) 0 -200px no-repeat; text-indent: -999em; }

.footer .footer_content .footer_right .code dd { display: block; margin-left: 110px; color: #666; }

.footer .footer_content .footer_right .code dd p { color: #999; }

.footer .footer_content .footer_right .sns { margin-top: 40px; width: auto; }

.footer .footer_content .footer_right .sns li { padding: 0; width: auto; color: #9d8e7f; float: left; }

.footer .footer_content .footer_right .sns li > a { float: left; margin-right: 5px; width: 45px; height: 45px; background-image: url(../img/goods/icon.png); background-repeat: no-repeat; text-indent: -999em; cursor: pointer; color: #9d8f80; }

.footer .footer_content .footer_right .sns li .sina { background-position: 0 -104px; }

.footer .footer_content .footer_right .sns li .sns-right { float: left; padding-right: 10px; color: #666; }

.footer .footer_content .footer_right .sns li .sns-right p { line-height: 20px; }

.footer .footer_content .footer_right .sns li .sns-right a { display: block; width: 58px; height: 18px; border: 1px solid #dfe1e2; background: #fff; color: #666; text-align: center; text-decoration: none; line-height: 18px; }
