@charset "UTF-8";
/*
预处理
	sass
	less
	stylus

	编译Sass文件所需工具:
		gulp
		gulp-sass
*/
.clearfix::after { content: ''; display: block; clear: both; }

.left { float: left; }

.right { float: right; }

.swap { width: 1200px; margin: 0 auto; }

ul { list-style: none; padding: 0; margin: 0; }

a { color: #333; text-decoration: none; }

a:hover { text-decoration: underline; }

body { color: #333; font-size: 14px; font-family: '微软雅黑'; }

p, h1, h2, h3, h4, h5, dl, dt, dd { padding: 0; margin: 0; }

.header .header_top { background: url(../img/hmepage/bg_header4.png) repeat-x; position: relative; }

.header .header_top .swap { background-color: #F1EEED; z-index: 1000; position: relative; }

.header .header_top li { float: left; padding: 7px 8px; line-height: 16px; color: #85726c; height: 16px; }

.header .header_top li em { color: #c53f4c; font-size: 14px; }

.header .header_top li a { color: #85726c; }

.header .header_top li a:hover { color: #c53f4c; text-decoration: underline; }

.header .header_top .userinfo { height: 30px; position: relative; }

.header .header_top .userinfo .register { color: #85726c; background: 0; background-position: -180px -200px; font-weight: bold; }

.header .header_top .sitelinks .weight { color: #85726c; font-weight: bold; }

.header .header_top .sitelinks .dropdown { position: relative; }

.header .header_top .sitelinks .dropdown ul > li { float: none; }

.header .header_top .sitelinks .dropdown > a { display: block; background-position: right -187px; padding-right: 10px; background: url(../img/hmepage/bg_header4.png) no-repeat; }

.header .header_top .sitelinks .dropdown .arrow_top { display: none; width: 14px; height: 7px; position: absolute; top: 24px; left: 50%; margin-left: -7px; background-position: -123px -183px; }

.header .header_top .sitelinks .dropdown ul { display: none; position: absolute; top: 30px; left: 0; background-color: #fff; width: 100px; padding: 5px 0; color: #5b473d; }

.header .header_top .sitelinks .dropdown ul li { line-height: 24px; padding: 0; float: none; margin: 0; height: 24px; overflow: hidden; }

.header .header_top .sitelinks .dropdown ul li a { display: block; color: #5b473d; padding: 0 8px; }

.header .header_top .sitelinks .dropdown ul li a:hover { color: #ffffff; background: red; text-decoration: none; }

.header .header_center { position: relative; height: 100px; background-color: #f1eeed; }

.header .header_center .logo .main_logo { display: block; width: 200px; height: 100px; background: url(../img/hmepage/logo2.png) no-repeat left center; }

.header .header_center .logo .main_logo a { float: left; display: inline; width: 100%; height: 100%; }

.header .header_center .logo .logo_app { width: 163px; height: 100px; margin: 0px; background: transparent url(//img14.yesmyimg.com/images/event/2015/11/logo.png) no-repeat 0px 0px; float: left; }

.header .header_center .logo .center_right .head_search { float: left; margin-top: 30px; }

.header .header_center .logo .center_right .head_search .search { display: block; overflow: hidden; height: 35px; }

.header .header_center .logo .center_right .head_search .search .input_area { float: left; padding: 5px; width: 370px; height: 23px; border: solid 1px #ed1c24; border-right: 0; background-color: #f4f1f0; color: #a89893; font-size: 14px; }

.header .header_center .logo .center_right .head_search .search .btn-search { overflow: hidden; width: 80px; height: 35px; border: 0; background: url(../img/hmepage/bg_header5.png) no-repeat -120px -391px; text-indent: -10000px; }

.header .header_center .logo .center_right .head_search p { display: block; overflow: hidden; height: 24px; line-height: 24px; }

.header .header_center .logo .center_right .head_search p a { margin-right: 10px; color: #a89893; }

.header .header_center .logo .center_right .shopcart { position: relative; float: left; margin-top: 30px; margin-left: 30px; }

.header .header_center .logo .center_right .shopcart .btn-shopcart { display: block; padding-left: 13px; width: 110px; height: 35px; background: url(../img/hmepage/bg_header5.png) no-repeat 0 -160px; color: #fff; text-align: center; font-size: 14px; line-height: 35px; }

.header .header_buttom { position: relative; background-color: #D3161B; }

.header .header_buttom .swap { position: relative; height: 35px; }

.header .header_buttom .swap .navlinks { overflow: hidden; padding-left: 200px; height: 35px; }

.header .header_buttom .swap .navlinks li { float: left; padding: 8px 0; height: 19px; line-height: 19px; }

.header .header_buttom .swap .navlinks li a { float: left; padding: 0 20px; height: 19px; color: #ede8e6; text-align: center; text-decoration: none; font-size: 14px; }

.header .header_buttom .swap .navlinks li:hover { background-color: #bc0001; }

.header .header_buttom .swap .active { margin-left: -2px; padding-left: 2px; background-color: #bc0001; }

.header .header_buttom .swap .bar { poistion: relative; }

.header .header_buttom .swap .bar a { padding-right: 30px; padding-left: 15px; background: url("../img/hmepage/bg_header4.png") no-repeat right -166px; }

.header .header_buttom .categorys { position: absolute; top: 0; left: 0; width: 200px; z-index: 10; }

.header .header_buttom .categorys h3 { position: relative; padding: 8px 10px; height: 19px; background-color: #a11011; line-height: 19px; }

.header .header_buttom .categorys h3 a { display: block; padding-left: 20px; background: url("../img/hmepage/bg_header5.png") no-repeat -180px -160px; color: #ece7e5; text-decoration: none; letter-spacing: 5px; font-size: 15px; font-family: 微软雅黑; }

.header .header_buttom .categorys .categroup { display: block; height: 500px; background: #fff; }

.header .header_buttom .categorys .categroup dl { position: relative; }

.header .header_buttom .categorys .categroup dl dt { overflow: hidden; padding: 3px 10px; height: auto; border-top: solid 1px #d4d4d4; }

.header .header_buttom .categorys .categroup dl dt p { line-height: 24px; }

.header .header_buttom .categorys .categroup dl dt p .hot_menu { position: absolute; top: 5px; left: 70px; display: block; margin-top: 5px; margin-right: 86px; margin-left: 10px; width: 23px; height: 11px; background: url(//img11.yesmyimg.com/newWeb/css/v3/images/hp/hot.png) no-repeat 0 0; }

.header .header_buttom .categorys .categroup dl dt p .bg { padding: 0 5px; border-radius: 10px; background: #D3161B; color: #fff; }

.header .header_buttom .categorys .categroup dl dt a { display: inline; margin: 3px 8px 3px 0; white-space: nowrap; line-height: 18px; font-size: 12px; }

.header .header_buttom .categorys .categroup dl h4 { height: 20px; background: url("../img/hmepage/bg_header4.png") no-repeat right -203px; line-height: 20px; }

.header .header_buttom .categorys .categroup dl h4 a { color: #666; font-size: 14px; }

.header .header_buttom .categorys .first dd h5 { width: 80px; }

.header .header_buttom .categorys dd { position: absolute; top: -1px; left: 200px; opacity: 0; overflow: hidden; width: 520px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); }

.header .header_buttom .categorys dd ul { float: left; padding: 0 10px; width: 240px; height: 100%; }

.header .header_buttom .categorys dd ul li { padding: 4px 0 10px; border-top: dotted 1px #81665c; }

.header .header_buttom .categorys dd ul li:first-child { border-top: 0; }

.header .header_buttom .categorys dd ul li h5 { float: left; width: 40px; color: #666; font-weight: normal; font-size: 14px; line-height: 24px; font-family: '微软雅黑'; }

.header .header_buttom .categorys dd ul li h5 a { color: #666; font-family: 微软雅黑; }

.header .header_buttom .categorys dd ul li .lh22 { line-height: 22px; overflow: hidden; }

.header .header_buttom .categorys dd ul li .lh22 a { height: 22px; line-height: 22px; }

.header .header_buttom .categorys dd ul li .col2 a { width: 75px; }

.header .header_buttom .categorys dd ul li p { margin-left: 50px; line-height: 24px; overflow: hidden; }

.header .header_buttom .categorys dd ul li p a { float: left; display: inline-block; overflow: hidden; width: 50px; height: 24px; line-height: 24px; font-size: 12px; }

.header .header_buttom .categorys .h400 { height: 400px; }

.header .header_buttom .categorys .h400 .subcates { backgrpund-color: rgba(255, 255, 255, 0.9); }

.header .header_buttom .categorys .h400 .subcates p { margin-left: 85px; overflow: hidden; }

.header .header_buttom .h100 { height: 100px; }

.header .header_buttom .h100 h5 { width: 68px; }

.header .header_buttom .h100 p .whole { margin-left: 18px; }

.header .header_buttom .log_nav { position: absolute; top: 46px; width: 108px; height: 475px; background: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); right: 105px; z-index: 10; }

.header .header_buttom .log_nav dl { height: auto; overflow: hidden; padding: 0 5px; }

.header .header_buttom .log_nav dl .member_title { width: 64px; height: 64px; background: url(../img/hmepage/nav_log.png) no-repeat; margin-left: 15px; margin-top: 20px; margin-bottom: 8px; }

.header .header_buttom .log_nav dl dd { text-align: center; color: white; font-family: '微软雅黑'; color: #666; font-size: 14px; }

.header .header_buttom .log_nav dl dd a { color: #ffffff; }

.header .header_buttom .log_nav dl dd a:hover { color: red; text-decoration: underline; }

.header .header_buttom .log_nav dl .sitebar { width: 100px; height: 82px; overflow: hidden; }

.header .header_buttom .log_nav dl .sitebar .userinfo { width: 100%; border-bottom: 1px dashed #747474; }

.header .header_buttom .log_nav dl .sitebar .userinfo li { width: 104px; text-align: center; color: #fff; overflow: hidden; }

.header .header_buttom .log_nav dl .sitebar .userinfo .login_btn a { display: block; text-decoration: none; margin-left: 15px; margin-top: 5px; width: 74px; height: 24px; text-align: center; font-size: 12px; color: #fff; line-height: 24px; font-weight: bold; }

.header .header_buttom .log_nav dl .sitebar .userinfo .login_btn a:hover { background: #D3161B; -o-border-radius: 5px; border-radius: 5px; font-size: 14px; }

.header .header_buttom .log_nav dl .sitebar .userinfo .register_btn a { display: block; ext-decoration: none; margin-left: 15px; margin-top: 5px; width: 74px; height: 24px; text-align: center; font-size: 12px; color: #fff; line-height: 24px; margin-bottom: 10px; }

.header .header_buttom .log_nav dl .sitebar .userinfo .register_btn a:hover { background: #D3161B; -o-border-radius: 5px; border-radius: 5px; font-size: 14px; }

.header .header_buttom .log_nav .lon_list_li li { width: 104px; display: block; float: left; height: 40px; }

.header .header_buttom .log_nav .lon_list_li li a { color: white; display: inline-block; line-height: 25px; height: 16px; font-size: 12px; margin-top: 10px; float: left; text-indent: 5px; }

.header .header_buttom .log_nav .lon_list_li li a：hover { color: #e54247; text-decoration: underline; }

.header .header_buttom .log_nav .lon_list_li li .photo_1 { height: 16px; width: 16px; margin-top: 15px; margin-left: 10px; vertical-align: middle; background: url(../img/hmepage/tit.png) 0px 0px no-repeat; }

.main .selector { width: 100%; }

.main .selector .p_area { position: relative; overflow: hidden; width: 100% !important; height: 500px; }

.main .selector .p_area ul { width: 100%; height: 500px; }

.main .selector .p_area ul li img { transition: all 1s; position: absolute; position: absolute; left: 50%; margin-left: -960px; transition: 2s all; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1); }

.main .selector .p_area ul li img:hover { transform: scale(1); }

.main .selector_tab .swap .tab_left { margin-right: 3px; width: 200px; border: 1px #E7E7E7 solid; margin-bottom: 15px; border-top: 2px solid #73584a; }

.main .selector_tab .swap .tab_left .notice_slider { position: relative; }

.main .selector_tab .swap .tab_left .notice_slider .transform { position: absolute; top: 0; left: -20px; display: inline-block; width: 20px; height: 20px; background: url("../img/hmepage/sprite.png") -61px -120px; cursor: pointer; }

.main .selector_tab .swap .tab_left .notice_slider .slider { height: 203px; }

.main .selector_tab .swap .tab_left .notice_slider .slider ul { width: 400px; }

.main .selector_tab .swap .tab_left .notice_slider .slider ul li { float: left; overflow: hidden; width: 200px; height: 204px; text-align: center; }

.main .selector_tab .swap .tab_left .notice_slider .slider ul li a { color: #d85a44; line-height: 24px; }

.main .selector_tab .swap .tab_left .notice_slider .slider ul li a p { display: none; overflow: hidden; padding: 0 5px; height: 50px; background: url("../img/hmepage/sprite.png") 0 -141px; color: #fff; text-align: center; font-size: 14px; line-height: 50px; }

.main .selector_tab .swap .tab_left .notice_slider .bd { background-color: #fff; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists { height: 149px; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists h3 { height: 32px; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists h3 span { float: left; width: 66px; border: 1px solid #bfb7aa; border-right: 0; background-color: #e0dbd8; color: #5c483d; text-align: center; font-weight: normal; line-height: 30px; cursor: pointer; font-size: 12px; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists h3 span:hover a { color: red; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists h3 span a { color: #5c483d; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists h3 .first { border-left: none; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists h3 .on { border-bottom: 1px solid #fff; background: #fff; width: 65px; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists h3 .on a { color: red; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists ul { display: none; padding: 10px; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists ul li { overflow: hidden; padding-left: 0; height: 24px; color: #888; font-size: 14px; line-height: 24px; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists ul li a { color: #888; font-size: 12px; }

.main .selector_tab .swap .tab_left .notice_slider .bd .notice-lists .on { display: block; }

.main .selector_tab .swap ._main { float: right; margin-right: 0; width: 990px; max-width: 990px; }

.main .selector_tab .swap ._main .mod-hotgoods .hottabs { border-bottom: solid 2px #d3161b; height: 60px; position: static; }

.main .selector_tab .swap ._main .mod-hotgoods .hottabs li { width: 196px; height: 55px; padding-top: 5px; background: #ffe8e8; border-right: solid 2px #fff; float: left; }

.main .selector_tab .swap ._main .mod-hotgoods .hottabs li a { color: #73584a; text-decoration: none; display: block; text-align: left; text-indent: 20px; }

.main .selector_tab .swap ._main .mod-hotgoods .hottabs li .font26 { font-size: 22px; margin-top: 3px; }

.main .selector_tab .swap ._main .mod-hotgoods .hottabs li .right { float: right; overflow: hidden; width: 235px; }

.main .selector_tab .swap ._main .active { width: 198px; background: url(../img/hmepage/right_btn.png) #d3161b 209px 16px no-repeat; height: 58px; margin-left: -2px; padding-top: 2px; border-top: none; border-left: 1px solid #fff; background: #d3161b; color: #d95b44; font-weight: normal; }

.main .selector_tab .swap ._main .active a { color: #fff; }

.main .selector_tab .swap ._main .last { border-right: 0; width: 198px; }

.main .selector_tab .swap ._bd { position: relative; overflow: hidden; height: 315px; width: 990px; margin-bottom: 0; }

.main .selector_tab .swap ._bd .goodslist { margin-top: -1080px; height: 1800px; }

.main .selector_tab .swap ._bd .goodslist ul { padding: 5px 0 5px 0px; height: 350px; width: 100%; background-color: #fff; }

.main .selector_tab .swap ._bd .goodslist ul li { margin-left: 11px; margin-top: 3px; border: none; width: 185px; float: left; }

.main .selector_tab .swap ._bd .goodslist ul li:hover { border: solid 0px #e7e7e2; box-shadow: 5px 10px 10px -10px rgba(0, 0, 0, 0.4); }

.main .selector_tab .swap ._bd .goodslist ul li .prod-countdown { padding: 4px 0 3px 25px; \height: 17px; background-color: #f8f8f5; color: #878787; line-height: 17px; background: url(../img/hmepage/sprite.png) no-repeat 5px -91px; }

.main .selector_tab .swap ._bd .goodslist ul li .prod-countdown strong { display: inline-block; margin: 0 3px; padding: 0 2px; background-color: #8d6c5a; color: #fff; font-weight: normal; }

.main .selector_tab .swap ._bd .goodslist ul li dt .pimg { display: block; margin: 0 auto; padding-top: 10px; width: 110px; height: 180px; }

.main .selector_tab .swap ._bd .goodslist ul li dt .pimg img { display: block; width: 110px; height: 180px; }

.main .selector_tab .swap ._bd .goodslist ul li dt .promo-icon { top: 10px; right: 10px; position: absolute; width: 43px; }

.main .selector_tab .swap ._bd .goodslist ul li .base { border: solid 2px #e5e5e5; border-top: none; padding: 9px; height: 55px; background-color: #f4f4f0; }

.main .selector_tab .swap ._bd .goodslist ul li .base .pname { display: block; overflow: hidden; height: 32px; color: #5b473d; line-height: 16px; }

.main .selector_tab .swap ._bd .goodslist ul li .base .pname span { display: block; overflow: hidden; height: 20px; color: #777; }

.main .selector_tab .swap ._bd .goodslist ul li .base .price { height: 23px; font-family: Arial; line-height: 30px; }

.main .selector_tab .swap ._bd .goodslist ul li .base .price .minprice { float: left; color: #c53f4c; font-size: 14px; }

.main .selector_tab .swap ._bd .goodslist ul li .base .price .minprice label { margin-right: 5px; color: #999; font-size: 12px; }

.main .selector_tab .swap ._bd .goodslist ul li .base .price .minprice strong { font-weight: normal; font-size: 20px; font-family: Georgia; }

.main .selector_tab .swap ._bd .goodslist .goodslist-qiang li { border-bottom: none; }

.main .selector_tab .swap ._bd .goodslist .goodslist-qiang li .prod-countdown { border: 2px solid #e5e5e5; border-bottom: 0; }

.main .selector_tab .swap ._bd .goodslist .goodslist-qiang li dl { width: 185px; height: 275px; }

.main .selector_tab .swap ._bd .goodslist .goodslist-qiang li dl dt { border: solid 2px #e5e5e5; border-bottom: none; border-top: none; height: 200px; }

.main .bgimage { text-align: center; position: relative; }

.main .content { width: 1200px; margin-left: auto; margin-right: auto; }

.main .content #happy { clear: both; overflow: hidden; height: 408px; background: url(../img/hmepage/loading.gif) no-repeat scroll center center; margin-top: 15px; }

.main .content #happy .tt { clear: both; overflow: hidden; height: 36px; border-bottom: 2px #e54247 solid; }

.main .content #happy .tt h1 { float: left; overflow: hidden; width: 306px; height: 34px; background: url(../img/hmepage/title1.png) 0 0 no-repeat; text-indent: -9999px; }

.main .content #happy .change { float: right; margin-top: 10px; margin-right: 10px; background: url(../img/hmepage/title3.jpg) no-repeat scroll -130px -8px; color: #999; text-indent: 30px; width: 140px; height: 20px; display: block; font-size: 12px; }

.main .content #happy .like-left { width: 299px; height: 372px; overflow: hidden; margin-right: 0; background: #edf4f8; border: 1px #E7E7E7 solid; }

.main .content #happy .like-left h2 { width: 300px; background: url(../img/hmepage/icon2.png) center top no-repeat; height: 23px; margin-top: 20px; }

.main .content #happy .like-left ul { width: 250px; margin: 0 auto; margin-top: -20px; }

.main .content #happy .like-left ul li a { width: 125px; height: 81px; overflow: hidden; display: block; float: left; text-align: center; width: 125px; height: 45px; color: #666; font-size: 20px; margin-top: 36px; line-height: 41px; font-family: 微软雅黑; text-indent: 45px; display: block; }

.main .content #happy .like-left ul li .sh { background: url(../img/hmepage/icon2.png) 0 -23px no-repeat; }

.main .content #happy .like-left ul li .pp { background: url(../img/hmepage/icon2.png) 0 -70px no-repeat; }

.main .content #happy .like-left ul li .cj { background: url(../img/hmepage/icon2.png) 0 -117px no-repeat; }

.main .content #happy .like-left ul li .fs { background: url(../img/hmepage/icon2.png) 0 -165px no-repeat; }

.main .content #happy .like-left ul li .sw { background: url(../img/hmepage/icon2.png) -209px -117px no-repeat; }

.main .content #happy .like-left ul li .bg { background: url(../img/hmepage/icon2.png) -210px -165px no-repeat; }

.main .content #happy .like-left ul li .ym { background: url(../img/hmepage/icon2.png) -210px -23px no-repeat; }

.main .content #happy .like-left ul li .yz { background: url(../img/hmepage/icon2.png) -210px -70px no-repeat; }

.main .content #happy #guessPageNum .block { float: left; overflow: hidden; width: 298px; height: 186px; border: #ebebe8 1px solid; border-top: 0; border-left: none; background: #fff; color: #777; position: relative; }

.main .content #happy #guessPageNum .block a img { float: left; display: inline; margin: 25px 4px; height: 140px; }

.main .content #happy #guessPageNum .block dl { float: left; overflow: hidden; margin-top: 20px; width: 180px; max-height: 130px; }

.main .content #happy #guessPageNum .block dl a { color: #633; }

.main .content #happy #guessPageNum .block dl .title { color: #633; }

.main .content #happy #guessPageNum .block dl dd { overflow: hidden; min-height: 18px; max-height: 34px; line-height: 18px; }

.main .content #happy #guessPageNum .block dl .last { height: 25px; margin-top: 5px; position: absolute; bottom: 11%; }

.main .content #happy #guessPageNum .block dl .last .minprice { color: #c53f4c; }

.main .content #happy #guessPageNum .block dl .last .minprice .fuhao { float: left; margin-top: 7px; }

.main .content #happy #guessPageNum .block dl .last .minprice strong { float: left; color: #c53f4c; font-weight: normal; font-size: 20px; font-family: Georgia; line-height: 25px; }

.main .no_bottom { border-bottom: none; height: 430px; overflow: hidden; }

.main .no_bottom .hao_pin { idth: 600px; position: relative; float: left; }

.main .no_bottom .hao_pin h1 { height: 34px; background: url(../img/hmepage/title1.png) 0 -34px no-repeat; text-indent: -9999px; border-bottom: 1px solid #e54247; }

.main .no_bottom .hao_pin h1 .hao_pin_left { position: relative; overflow: hidden; width: 598px; height: 386px; border: 1px #e7e7e7 solid; border-top: 1px solid #e54247; margin-top: 5px; }

.main .no_bottom .hao_pin h1 .hao_pin_left .hot { width: 60px; height: 60px; position: absolute; top: 0; left: 0; background: url(../img/hmepage/hot.png) no-repeat; z-index: 100; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider { height: 386px; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul { height: 386px; overflow: hidden; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li { width: 600px; float: left; height: 386px; position: relative; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .left_img { width: 225px; float: left; height: 386px; display: block; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .left_img img { width: 220px; height: 360px; margin: 10px auto; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .hot_price { width: 70px; height: 70px; text-align: center; font-size: 20px; line-height: 75px; color: #fff; position: absolute; bottom: 20px; left: 125px; z-index: 999; background: url(../img/hmepage/price.png) no-repeat; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .right_prod { width: 375px; height: 386px; overflow: hidden; color: #333; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .right_prod .prod-name { font-size: 22px; width: 360px; max-height: 67px; -family: 微软雅黑; line-height: 35px; overflow: hidden; display: block; margin-top: 65px; margin-bottom: 10px; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .right_prod .prod-note { font-size: 14px; width: 360px; height: 185px; line-height: 22px; overflow: hidden; display: block; margin-top: 0; rd-wrap: break-word; font-family: "微软雅黑"; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .right_prod .soldnum { position: absolute; top: 320px; right: 0px; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .right_prod .soldnum strong { font-weight: normal; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .right_prod .ratepercent { position: absolute; top: 320px; left: 370px; }

.main .no_bottom .hao_pin h1 .hao_pin_left .channel-slider ul li .right_prod .ratepercent strong { font-weight: normal; }

.main .no_bottom #buy { width: 580px; margin-left: 18px; float: left; }

.main .no_bottom #buy .tt { clear: both; overflow: hidden; height: 39px; border-bottom: 1px solid #e54247; }

.main .no_bottom #buy .tt h1 { float: left; width: 240px; height: 34px; background: url(../img/hmepage/title1.png) 0 -70px no-repeat; text-indent: -9999px; }

.main .no_bottom #buy .block { border: 1px solid #d8d8d8; width: 287px; height: 386px; border-top: none; float: left; position: relative; }

.main .no_bottom #buy .block dl { height: 297px; position: relative; z-index: 1; }

.main .no_bottom #buy .block dl .prod_img { width: 110px; margin: 0 auto; display: block; }

.main .no_bottom #buy .block dl .prod_img img { padding-top: 23px; }

.main .no_bottom #buy .block dl .right_prod { overflow: hidden; width: 260px; margin: 0 auto; font-family: '微软雅黑'; }

.main .no_bottom #buy .block dl .right_prod .title { font-size: 18px; color: #666; height: 30px; overflow: hidden; margin-bottom: 5px; }

.main .no_bottom #buy .block dl .right_prod .promotionMiddleGift_hover dt { width: 140px; float: left; margin-top: 10px; }

.main .no_bottom #buy .block dl .right_prod .promotionMiddleGift_hover dt b { width: 60px; height: 18px; text-align: center; line-height: 18px; background: #d73c3c; color: #fff; display: inline-block; font-size: 12px; border-radius: 5px; text-align: center; font-weight: normal; vertical-align: top; cursor: pointer; }

.main .no_bottom #buy .block dl .right_prod .promotionMiddleGift_hover .p { width: 140px; margin-top: 0; position: absolute; left: 140px; top: 0px; }

.main .no_bottom #buy .block dl .right_prod .promotionMiddleGift_hover .p label { font-size: 16px; line-height: 30px; color: #cd0005; margin-top: 10px; }

.main .no_bottom #buy .block dl .right_prod .promotionMiddleGift_hover .p em { font-size: 30px; line-height: 30px; color: #cd0005; margin-top: 10px; }

.main .no_bottom #buy .block dl .right_prod .promotionMiddleGift_hover .hidden { display: none; width: 386px; border: 1px solid #f4ab6d; position: absolute; top: 30px; left: -15px; z-index: 999; height: 105px; background: #ffffe8; padding-top: 9px; }

.main .no_bottom #buy .block dl .right_prod .promotionMiddleGift_hover .hidden div { margin-left: 10px; }

.main .no_bottom #buy .block dl .right_prod .promotionMiddleGift_hover .hidden div b { width: 60px; height: 18px; text-align: center; line-height: 18px; background: #d73c3c; color: #fff; display: inline-block; font-size: 12px; border-radius: 5px; text-align: center; font-weight: normal; vertical-align: top; cursor: pointer; }

.main .no_bottom #buy .block dl .right_prod .promotionMiddleGift_hover .hidden div em { font-size: 12px; color: #957a67; width: 300px; height: 26px; line-height: 18px; display: inline-block; margin-top: 0; line-height: 2; margin-left: 5px; }

.main .no_bottom #buy .block .dl_bottom { background: #f4f4f0; height: 88px; z-index: -11; position: static; }

.main .no_bottom #buy .block .dl_bottom dd { margin: 0 5px 0 10px; width: 260px; font-size: 18px; color: #837D7D; line-height: 30px; text-align: center; vertical-align: middle; }

.main .no_bottom #buy .block .dl_bottom .gy_info { padding-top: 15px; text-align: center; }

.main .no_bottom #buy .block .dl_bottom .gy_info .user_name { color: #666; margin-right: 8px; max-width: 175px; overflow: hidden; display: inline-block; line-height: 30px; vertical-align: middle; white-space: nowrap; text-overflow: ellipsis; }

.main .interest { padding-top: 25px; margin-bottom: 20px; height: 692px; overflow: hidden; }

.main .interest .tt { clear: both; overflow: hidden; height: 39px; border-bottom: 1px solid #e54247; }

.main .interest .tt h1 { float: left; width: 410px; height: 34px; background: url(../img/hmepage/title1.png) 0 -105px no-repeat; }

.main .interest .interest-left { width: 328px; }

.main .interest .interest-left h1 { width: 100%; height: 60px; background: url(../img/hmepage/title1.png) 0 -302px no-repeat; font-family: '微软雅黑'; font-size: 24px; color: #fff; line-height: 60px; text-indent: 50px; font-weight: normal; }

.main .interest .interest-left .block { width: 330px; margin: 0 auto; height: auto; overflow: hidden; border-bottom: 1px dashed #dcdcdc; }

.main .interest .interest-left .block dl { width: 210px; height: 145px; margin: 20px 0 15px 0; float: left; }

.main .interest .interest-left .block dl .title { width: 220px; height: 25px; line-height: 25px; overflow: hidden; font-size: 16px; color: #666; }

.main .interest .interest-left .block dl .title .title-en { width: 220px; height: 20px; line-height: 20px; overflow: hidden; font-size: 14px; color: #666; }

.main .interest .interest-left .block dl .price { font-size: 16px; color: #b51d1a; font-family: Arial; font-weight: bold; margin-top: 40px; }

.main .interest .interest-left .block dl .price strong { font-size: 36px; font-weight: normal; }

.main .interest .interest-left .block dl .soldnum { font-size: 14px; color: #999; }

.main .interest .interest-left .block dl .soldnum strong { font-weight: normal; }

.main .interest .interest-left .block a img { height: 190px; display: inline; float: left; margin: 6px 0 0 0; padding-bottom: 10px; float: left; }

.main .interest .interest-left .no_bottom { border-bottom: none; height: auto; overflow: hidden; margin-left: 0px; }

.main .interest .interest-left .a-more { width: 20px; height: 21px; display: inline-block; margin: 0 155px; background: url(../img/hmepage/title1.png) -32px -280px no-repeat; }

.main .interest .interest-left .tasting h1 { width: 100%; height: 48px; line-height: 48px; background: #f4f4f4; border-top: 1px solid #dcdcdc; color: #333; font-family: '微软雅黑'; text-indent: 35px; }

.main .interest .interest-left .tasting ul { order-top: 1px dashed #dcdcdc; width: 320px; margin: 0 auto; font-family: '微软雅黑'; }

.main .interest .interest-left .tasting ul li { height: 22px; line-height: 22px; color: #666; font-size: 15px; text-indent: 10px; overflow: hidden; margin-top: 5px; }

.main .interest .interest-box { border: 1px solid #dcdcdc; border-top: none; height: 650px; overflow: hidden; float: left; margin-right: 9px; }

.main .interest .interest-main { width: 528px; }

.main .interest .interest-main dl { width: 245px; height: 250px; margin: 20px 5px 10px 5px; float: left; overflow: hidden; }

.main .interest .interest-main .tt { width: 100%; height: 60px; background: #a7e1f6; font-family: '微软雅黑'; font-size: 24px; color: #fff; line-height: 60px; border-bottom: none; }

.main .interest .interest-main .tt h1 { height: 60px; font-weight: normal; background: #a7e1f6; text-indent: 20px; }

.main .interest .interest-main .p_wine { width: 520px; margin-left: 10px; height: 295px; overflow: hidden; position: relative; border-bottom: 1px dashed #ccc; }

.main .interest .interest-main .p_wine .promo-icon { position: absolute; top: 35px; left: 0px; z-index: 111; width: 140px; }

.main .interest .interest-main .p_wine .promo-icon ins { display: block; text-indent: 5px; text-decoration: none; width: 120px; height: 42px; line-height: 46px; margin-top: 18px; color: #fe9b1a; font-size: 14px; background: url(../img/hmepage/wine-label-2.png) 0 0px no-repeat; overflow: hidden; }

.main .interest .interest-main .p_wine dl { width: 245px; height: 250px; margin: 20px 5px 10px 5px; float: left; overflow: hidden; }

.main .interest .interest-main .p_wine dl .title { width: 295px; }

.main .interest .interest-main .p_wine dl .title .title-en { width: 295px; }

.main .interest .interest-main .p_wine dl .price { margin-top: 10px; font-size: 16px; color: #b51d1a; font-family: Arial; font-weight: bold; }

.main .interest .interest-main .p_wine dl .price strong { font-size: 36px; font-weight: normal; }

.main .interest .interest-main .p_wine dl .prod-note { font-size: 14px; color: #666; font-family: '微软雅黑'; line-height: 24px; margin-top: 0; height: 145px; overflow: hidden; word-wrap: break-word; }

.main .interest .interest-main .p_wine img { width: 150px; margin-top: 15px; margin-left: 100px; float: left; }

.main .interest .interest-right { width: 318px; margin-right: 0; }

.main .interest .interest-right h1 { width: 100%; height: 60px; background: #e9aeba; font-family: '微软雅黑'; font-size: 24px; color: #fff; line-height: 60px; text-indent: 20px; font-weight: normal; }

.main .interest .interest-right dl dt { width: 288px; margin: 0 15px; border-bottom: 1px dashed #bcbcbc; display: block; }

.main .interest .interest-right dl dt a { margin: 10px auto; display: block; width: 275px; height: 70px; }

.main .interest .interest-right dl dt a img { width: 64px; height: 64px; border-radius: 35px; border: 2px solid #a0a0a0; float: left; margin: 0 5px; }

.main .interest .interest-right dl dt a span { height: 25px; width: 150px; margin-left: 20px; margin-top: 5px; line-height: 30px; font-size: 16px; color: #666; display: block; float: left; }

.main .interest .interest-right dl dd { width: 288px; margin: 0 15px; border-bottom: 1px dashed #bcbcbc; display: block; position: relative; }

.main .interest .interest-right dl .last { border: none; height: 143px; }

.main .interest .interest-right dl .last .tt { width: 320px; height: 48px; margin-left: -15px; background: #f4f4f4; border-bottom: none; }

.main .interest .interest-right dl .last .tt h1 { background: #f4f4f4; width: 320px; height: 48px; line-height: 48px; color: #333; font-size: 20px; border-top: 1px solid #dcdcdc; text-indent: 20px; font-weight: normal; }

.main .interest .interest-right dl .last img { height: 125px; margin: 10px auto 4px; margin-left: -10px; float: left; }

.main .interest .interest-right dl .last .title { height: 80px; width: 215px; vertical-align: middle; font-size: 16px; color: #666; font-family: '宋体'; position: relative; float: right; margin-top: 15px; }

.main .interest .interest-right dl .last .title span { display: block; }

.main .interest .interest-right dl .last .title .cn { height: auto; line-height: 20px; }

.main .interest .interest-right dl .last .title .en { height: auto; line-height: 16px; }

.main .interest .interest-right dl .last .price { position: absolute; width: 120px; height: 40px; line-height: 40px; color: #b51d1a; font-size: 16px; font-family: 'Arial'; top: 55px; left: 70px; font-weight: bold; margin-top: 40px; }

.main .interest .interest-right dl .last .price strong { font-size: 36px; font-weight: normal; }

.main .interest .interest-right dl .last label { position: absolute; width: 58px; height: 24px; top: 88px; right: 10px; text-align: right; color: #FF6C00; display: none; }

.main .interest .interest-right dl .last .focus { position: absolute; width: 58px; height: 24px; top: 104px; right: 5px; background: url(../img/hmepage/icon2.png) no-repeat -197px -256px; z-index: 0; font-size: 12px; color: #666; font-family: '微软雅黑'; text-indent: 20px; border-radius: 15px; padding: 0 2px; text-decoration: none; }

.main .section { margin-right: auto; margin-left: auto; width: 1200px; }

.main #interest .tt { clear: both; overflow: hidden; border-bottom: 1px solid #e54247; }

.main #interest .tt h1 { float: left; width: 410px; font-size: 24px; }

.main #interest .tt .title { width: 220px; height: 25px; line-height: 25px; overflow: hidden; font-size: 16px; color: #666; }

.main #interest .tt .title-en { width: 220px; height: 20px; line-height: 20px; overflow: hidden; font-size: 14px; color: #666; }

.main #interest .tt .price { font-size: 16px; color: #b51d1a; font-family: Arial; font-weight: bold; margin-top: 40px; }

.main #interest .tt .price strong { font-size: 36px; font-weight: normal; }

.main #interest .tt dl { float: left; }

.main #interest .reason { width: 305px; margin: 0 auto; border-top: 1px dashed #bcbcbc; padding-top: 8px; height: 150px; color: #666; font-size: 14px; line-height: 22px; display: block; font-family: '微软雅黑'; word-wrap: break-word; overflow: hidden; margin-left: -7px; }

.main .project { margin-top: 25px; margin-bottom: 25px; height: 479px; overflow: hidden; }

.main .project .topic { clear: both; overflow: hidden; height: 39px; border-bottom: 1px solid #e54247; }

.main .project .topic h1 { float: left; width: 475px; height: 34px; background: url(../img/hmepage/title1.png) 0 -171px no-repeat; }

.main .project .left { width: 448px; margin-right: 0; border: 1px #E7E7E7 solid; }

.main .project .main { width: 748px; margin-right: 0; float: left; overflow: hidden; }

.main .project .main li { width: 364px; float: right; margin-left: 10px; margin-bottom: 10px; }

.main .project .main li img { display: block; }

.main .pp { margin: 10px 0 25px 0; }

.main .pp .title { clear: both; overflow: hidden; height: 36px; border-bottom: 2px #c33 solid; }

.main .pp .title h1 { float: left; overflow: hidden; width: 105px; height: 34px; background: url(../img/hmepage/title1.png) 0 -207px no-repeat; }

.main .pp .title .more { float: right; width: 21px; height: 20px; border-radius: 10px; background: url(../img/hmepage/title1.png) 0 -282px no-repeat; text-align: center; margin-top: 10px; }

.main .pp .center { display: block; width: 1200px; height: 250px; overflow: hidden; position: relative; }

.main .pp .center ul li { position: absolute; top: 0; height: 250px; width: 450px; overflow: hidden; }

.main .pp .pp_bottom ul { margin-left: 1px; position: relative; width: 1200px; border-left: 1px solid #ebebe8; height: 132px; overflow: hidden; }

.main .pp .pp_bottom ul li { float: left; display: block; padding: 10px; width: 218px; height: 110px; border-right: 1px solid #ebebe8; border-bottom: 1px solid #ebebe8; overflow: hidden; }

.main .pp .pp_bottom ul li a img { transition: .5s all; }

.main .pp .pp_bottom ul li a:hover img { transform: translateX(-100px); }

.main .taste { margin-top: 10px; }

.main .taste .taste_left { width: 950px; overflow: hidden; margin-right: 10px; }

.main .taste .taste_left .title { overflow: hidden; height: 34px; border-bottom: solid 1px #ddd; background-color: #f8f8f5; line-height: 34px; }

.main .taste .taste_left .title h3 { float: left; overflow: hidden; width: 360px; height: 34px; background: url(../img/hmepage/title1.png) no-repeat 0 -244px; line-height: 34px; }

.main .taste .taste_left .title .more_page { padding: 8px 0; height: 18px; line-height: 18px; float: right; margin-right: 10px; color: #59463d; }

.main .taste .taste_left .title .more_page span { float: left; margin: 0 2px; }

.main .taste .taste_left .title .more_page .prev { width: 18px; height: 18px; background: url(../img/hmepage/sprite.png) no-repeat -130px -76px; cursor: pointer; }

.main .taste .taste_left .title .more_page .next { width: 18px; height: 18px; background: url(../img/hmepage/sprite.png) no-repeat -154px -76px; cursor: pointer; }

.main .taste .taste_left .comment { position: relative; overflow: hidden; width: 100%; height: 210px; }

.main .taste .taste_left .comment ul { width: 10461px; height: 210px; }

.main .taste .taste_left .comment ul li { float: left; margin-left: -1px; width: 317px; height: 210px; border-left: solid 1px #ebebe8; }

.main .taste .taste_left .comment ul li .parea { float: left; padding: 10px; width: 110px; height: 180px; }

.main .taste .taste_left .comment ul li .parea img { display: block; width: 110px; height: 180px; }

.main .taste .taste_left .comment ul li .base { height: 40px; }

.main .taste .taste_left .comment ul li .base a { display: block; overflow: hidden; height: 20px; color: #5c483d; line-height: 20px; }

.main .taste .taste_left .comment ul li .base .price { overflow: hidden; height: 20px; font-family: Arial; line-height: 20px; }

.main .taste .taste_left .comment ul li .base .price span { font-size: 12px; display: block; float: left; color: #c53f4c; font-size: 14px; line-height: 16px; }

.main .taste .taste_left .comment ul li .base .price span strong { font-weight: normal; font-size: 20px; font-family: Georgia; }

.main .taste .taste_left .comment ul li ._comment { overflow: hidden; margin-top: 10px; height: 66px; }

.main .taste .taste_left .comment ul li ._comment .user { float: left; display: block; overflow: hidden; width: 50px; height: 66px; }

.main .taste .taste_left .comment ul li ._comment .user img { display: block; width: 50px; height: 50px; border-radius: 25px; }

.main .taste .taste_left .comment ul li ._comment .user span { display: block; overflow: hidden; height: 16px; color: #999; text-align: center; font-family: 宋体; line-height: 16px; }

.main .taste .taste_left .comment ul li ._comment p { color: #666; line-height: 16px; display: inline; }

.main .taste .taste_left .comment ul li ._comment p .rank { display: inline-block; padding: 2px 0 2px 5px; height: 16px; border-radius: 4px; background-color: #c19e64; color: #f4f4f0; line-height: 16px; }

.main .taste .taste_left .comment ul li ._comment p .rank strong { display: inline-block; margin-left: 5px; padding: 0 5px; height: 16px; background-color: #b58d53; color: #fff; }

.main .taste .taste_left .comment ul li ._comment p a { font-size: 12px; }

.main .taste .taste_righ { overflow: hidden; width: 240px; }

.main .taste .taste_righ h3 { float: left; overflow: hidden; width: 360px; height: 34px; background: url(../img/hmepage/title.png) no-repeat 0 -238px; line-height: 34px; }

.main .taste .taste_righ div { float: left; width: 240px; height: 210px; }

.main .taste .taste_righ div img { width: 240px; height: 210px; }

.main .jk { border-bottom: solid 1px #d2d2ce; }

.main .jk .jk_header { height: 34px; border-bottom: solid 2px #c53f4c; }

.main .jk .jk_header h2 { float: left; overflow: hidden; width: 145px; height: 34px; background: url(../img/hmepage/title1.png) no-repeat 0 -384px; line-height: 34px; }

.main .jk .jk_header ul { float: right; padding: 7px 0; height: 20px; }

.main .jk .jk_header ul li { float: left; margin: 3px 0; padding: 0 20px; height: 14px; border-left: solid 1px #5a463d; line-height: 14px; }

.main .jk .jk_header ul li:first-child { border-left: 0; }

.main .jk .jk_header ul li a { font-size: 12px; }

.main .jk .jk_header ul .more { margin: 0; padding: 0 10px 0 30px; height: 20px; border-left: none; background-color: #73584a; background: url(../img/hmepage/sprite.png) no-repeat -211px -40px; line-height: 20px; }

.main .jk .jk_header ul .more a { color: #ece7e5; }

.main .jk .jk_brand .jk_logo { width: 200px; border: 1px #E7E7E7 solid; float: left; }

.main .jk .jk_brand .jk_logo .brand { overflow: hidden; width: 200px; height: 250px; }

.main .jk .jk_brand .jk_logo .brand ul { overflow: hidden; width: 202px; height: 250px; }

.main .jk .jk_brand .jk_logo .brand ul li { float: left; padding: 4px 0; width: 99px; height: 40px; border: solid 1px #c0ac98; background-color: #d6c9bc; text-align: center; border-left-color: #dfd5ca; border-top-color: #dfd5ca; }

.main .jk .jk_brand .jk_logo .brand ul li img { display: inline-block; width: 80px; height: 40px; }

.main .jk .jk_brand .jk_main { width: 760px; height: 250px; overflow: hidden; position: relative; float: left; }

.main .jk .jk_brand .jk_main ul { width: 2280px; height: 250px; }

.main .jk .jk_brand .jk_main ul li { float: left; }

.main .jk .jk_brand .jk_main ul li a img { display: block; width: 760px; height: 250px; }

.main .jk .jk_brand .jk_logor { float: right; width: 235px; overflow: hidden; }

.main .jk .jk_brand .jk_logor a img { display: block; width: 240px; height: 125px; }

.main .jk_main .goodlist { float: left; overflow: hidden; margin-right: 0; width: 960px; height: 702px; padding: 10px 0; }

.main .jk_main .goodlist h3 { margin: 0 10px; height: 30px; border-bottom: solid 1px #d2d2ce; line-height: 30px; }

.main .jk_main .goodlist h3 strong { float: left; display: block; color: #715b4a; font-size: 14px; font-family: 微软雅黑; line-height: 30px; }

.main .jk_main .goodlist h3 .more { float: right; margin-top: 4px; width: 60px; height: 22px; background: url("../img/hmepage/sprite.png") no-repeat 0 -68px; color: #5a463d; text-align: center; font-weight: normal; line-height: 22px; }

.main .jk_main .goodlist ul { overflow: hidden; padding: 5px; height: 310px; }

.main .jk_main .goodlist ul li { float: left; overflow: hidden; padding: 3px; width: 180px; border: solid 2px transparent; }

.main .jk_main .goodlist ul li dl dt { height: 200px; }

.main .jk_main .goodlist ul li dl dt a { display: block; margin: 0 auto; padding-top: 10px; width: 110px; height: 180px; }

.main .jk_main .goodlist ul li dl dt a img { display: block; width: 110px; height: 180px; }

.main .jk_main .goodlist ul li dl .base { padding: 10px; height: 55px; background-color: #f4f4f0; }

.main .jk_main .goodlist ul li dl .base a { display: block; overflow: hidden; height: 32px; color: #5b473d; line-height: 16px; }

.main .jk_main .goodlist ul li dl .base a span { display: block; overflow: hidden; height: 20px; color: #777; }

.main .jk_main .goodlist ul li dl .base p { height: 23px; font-family: Arial; line-height: 30px; }

.main .jk_main .goodlist ul li dl .base p span { display: block; }

.main .jk_main .goodlist ul li dl .base p span strong { font-weight: normal; font-size: 20px; font-family: Georgia; }

.main .jk_main .goodlist ul li dl .sum { padding: 0 10px; height: 24px; border-top: solid 1px #e7e7e2; background-color: #f4f4f0; color: #999; line-height: 24px; }

.main .jk_main .goodlist ul li dl .sum .soldout { float: left; }

.main .jk_main .goodlist ul li dl .sum .soldout strong { margin-left: 5px; color: #666; font-weight: normal; }
