.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.swap {
  width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  color: #333;
  font-size: 14px;
}

h2 {
  margin: 0;
}

.logo {
  border-bottom: 2px solid #bc0e31;
}

.logo .swap {
  padding: 20px 0;
}

.logo .swap h2 {
  overflow: hidden;
}

.logo .swap img {
  height: 53px;
}

.content .swap {
  padding: 20px 0;
}

.content .login {
  overflow: hidden;
  padding: 20px 10px;
  width: 378px;
  border: 1px solid #d2d2ce;
  background: #f8f8f5;
}

.content .login h2 {
  margin: 0 12px 18px 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d2d2ce;
  text-align: left;
  font-size: 14px;
}

.content .login a {
  position: relative;
  top: -38px;
  left: 127px;
  color: #06c;
}

.content .login form .input-area label {
  float: left;
  width: 90px;
  ight: 38px;
  color: #363636;
  text-align: right;
  font-size: 14px;
  line-height: 38px;
}

.content .login form .input-area input {
  padding: 0 5px;
  width: 270px;
  height: 38px;
  color: #666;
  font-size: 12px;
  line-height: 38px;
  background: #fff url("../img/login/hint_logname2.gif") no-repeat 8px 15px;
  color: #f45f03;
}

.content .login-note {
  background: url("../img/login/register_ads.jpg");
  width: 790px;
  height: 480px;
}
