@charset "UTF-8";
.clearfix::after { content: ''; display: block; clear: both; }

.left { float: left; }

.right { float: right; }

.swap { width: 1200px; margin: 0 auto; }

.mt20 { margin-top: 20px; }

.mb20 { margin-bottom: 20px; }

fieldset, img { border: 0; }

.wrap { width: 960px; margin: 0 auto; }

ul { list-style: none; padding: 0; margin: 0; }

a { color: #333; text-decoration: none; font-size: 12px; }

a:hover { text-decoration: none; }

body { color: #333; font-size: 14px; font-family: '微软雅黑'; margin: 0; }

p, h1, h2, h3, h4, h5, dl, dt, dd, font { padding: 0; margin: 0; }

span { font-size: 12px; }

em, i { font-style: normal; }

table, tbody, tfoot, thead, tr, th, td { border-collapse: collapse; border-spacing: 0; padding: 0px; margin: 0px; }

.list-cart { position: relative; z-index: 500; }

.header_top { background: url(../img/hmepage/bg_header4.png) repeat-x; position: relative; }

.header_top .wrap { background-color: #F1EEED; z-index: 1000; position: relative; }

.header_top li { float: left; padding: 7px 8px; line-height: 16px; color: #85726c; height: 16px; }

.header_top li em { color: #c53f4c; font-size: 14px; }

.header_top li a { color: #85726c; font-size: 12px; }

.header_top li a:hover { color: #c53f4c; }

.header_top .userinfo { height: 30px; position: relative; }

.header_top .userinfo .register { background: url("../img/goods/bg_header3.png") no-repeat -180px -200px; font-weight: bold; }

.header_top .userinfo .register a { color: #85726c; background: 0; }

.header_top .userinfo .bldr { background: url(../img/goods/bg_header3.png) no-repeat -180px -200px; }

.header_top .userinfo a img { vertical-align: middle; width: 16px; border: 0; height: 16px; }

.header_top .sitelinks .weight { color: #85726c; font-weight: bold; }

.header_top .sitelinks .dropdown { position: relative; }

.header_top .sitelinks .dropdown ul > li { float: none; }

.header_top .sitelinks .dropdown > a { display: block; background-position: right -187px; padding-right: 10px; background: url(../img/hmepage/bg_header4.png) no-repeat; }

.header_top .sitelinks .dropdown .arrow_top { display: none; width: 14px; height: 7px; position: absolute; top: 24px; left: 50%; margin-left: -7px; background-position: -123px -183px; }

.header_top .sitelinks .dropdown ul { display: none; position: absolute; top: 30px; left: 0; background-color: #fff; width: 100px; padding: 5px 0; color: #5b473d; }

.header_top .sitelinks .dropdown ul li { line-height: 24px; padding: 0; float: none; margin: 0; height: 24px; overflow: hidden; }

.header_top .sitelinks .dropdown ul li a { display: block; color: #5b473d; padding: 0 8px; }

.header_top .sitelinks .dropdown ul li a:hover { color: #ffffff; background: red; text-decoration: none; }

.main { padding-bottom: 20px; min-height: 300px; display: block; margin: 0px; min-width: 960px; background: #fff; }

.main .wrap { padding-bottom: 20px; }

.main .wrap .list-cart { width: 960px; float: left; }

.main .wrap .list-cart h1 { height: 43px; font: normal normal 12px/32px \5b8b\4f53; }

.main .wrap .list-cart h1 .warnning { width: 712px; height: 43px; display: block; position: relative; float: left; }

.main .wrap .list-cart h1 .warnning span { width: 712px; float: left; border-right: 2px solid #e5e5e5; border-bottom: 2px solid #e5e5e5; }

.main .wrap .list-cart h1 .warnning span p { width: 700px; float: left; border: 1px solid #ccc; padding-left: 10px; color: #666; }

.main .wrap .list-cart h1 .warnning span p font { color: #F60; font-size: 12px; }

.main .wrap .list-cart h1 .warnning span p a { width: 13px; height: 13px; display: block; overflow: hidden; background: url("../img/goods/global_btnIcon.png") no-repeat -317px -120px; position: absolute; left: 690px; top: 11px; }

.main .wrap .list-cart h1 .warnning span em { width: 14px; height: 9px; display: block; overflow: hidden; background: url(http://img12.yesmyimg.com/newWeb/images/cart/titleCartTopBg.png) no-repeat; position: absolute; top: 33px; left: 40px; z-index: 4; }

.main .wrap .list-cart ul { width: 960px; float: left; }

.main .wrap .list-cart ul li { width: 960px; float: left; margin: 5px 0 15px; display: inline; border: 5px solid #e7e7e7; }

.main .wrap .list-cart ul li .ps { border-bottom: 0; padding: 5px; height: 30px; font-weight: bold; font-size: 14px; line-height: 30px; }

.main .wrap .list-cart ul li .ps .ps-num { position: relative; float: right; display: block; margin-top: 7px; width: 70px; height: 17px; background: url(http://img12.yesmyimg.com/newWeb/images/cart/cart_icon.png?V20150519) 0 -86px no-repeat; color: #fff; text-align: center; font-weight: normal; line-height: 17px; cursor: pointer; }

.main .wrap .list-cart ul li .ps .ps-num i { top: 1px; border: 5px solid #c75050; border-bottom-color: #fff; position: absolute; right: 7px; display: block; width: 0; height: 0; }

.main .wrap .list-cart ul li .ps .transfer { float: left; height: 30px; }

.main .wrap .list-cart ul li .ps .transfer label { float: left; }

.main .wrap .list-cart ul li .ps .transfer label b { display: inline-block; margin-right: 5px; width: 16px; height: 16px; background: url(../img/goods/radio_s.png) 0 0 no-repeat; }

.main .wrap .list-cart ul li .goodscontent { width: 960px; float: left; border-top: 2px solid #85726c; }

.main .wrap .list-cart ul li .goodscontent .title { position: relative; z-index: 51; }

.main .wrap .list-cart ul li .goodscontent .title table { width: 100%; background-color: #f1eeeb; border-collapse: collapse; border-spacing: 0; }

.main .wrap .list-cart ul li .goodscontent .title table tbody td { padding: 0 5px; text-align: center; }

.main .wrap .list-cart ul li .goodscontent .title table tbody td input { font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; }

.main .wrap .list-cart ul li .goodscontent .title table tbody td label { cursor: pointer; }

.main .wrap .list-cart ul li .goodscontent .goodslist { position: relative; z-index: 52; float: left; display: inline; margin-top: -1px; padding: 0; background-color: #fff; }

.main .wrap .list-cart ul li .goodscontent .goodslist table { float: left; width: 960px; font-family: Arial; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr { background-image: url(http://img12.yesmyimg.com/newWeb/images/button/xuxianX.gif); background-position: top; background-repeat: repeat-x; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr td { vertical-align: middle; text-align: center; padding: 10px 0 10px 0; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr td input { float: none; width: 15px; height: 15px; border: 0; text-align: center; display: inline; color: #666; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr td b { margin-left: 2px; color: #333; font: normal bold 16px/32px arial; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .pic { padding-left: 10px; color: #666; text-align: left; font: normal normal 12px/24px Arial; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .pic a { color: #06c; font: normal normal 12px/24px \5b8b\4f53; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .pic a img { margin-right: 10px; width: 60px; height: 98px; border: 0; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .pic .title { color: #000; font-size: 12px; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .num span { position: relative; float: left; margin-left: 30px; width: 58px; height: 24px; color: #000; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .num span .reduce { float: left; display: inline; margin-right: 0; overflow: hidden; margin-top: 0; width: 13px; height: 24px; background-image: url(http://img12.yesmyimg.com/newWeb/images/cart/cart_icon.png); background-position: 0 -107px; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .num span input { float: left; display: inline; margin: 0; padding: 0; width: 30px; height: 22px; border: 1px solid #bea9a0; color: #666; text-align: center; font: normal normal 12px/25px \5b8b\4f53; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .num span .add { float: left; overflow: hidden; margin-top: 0; width: 13px; height: 24px; background-image: url(http://img12.yesmyimg.com/newWeb/images/cart/cart_icon.png); background-position: -45px -107px; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .xj-price { color: #c75050; }

.main .wrap .list-cart ul li .goodscontent .goodslist table tbody tr .edit a { color: #3172b2; }

.main .wrap .list-cart ul li .footer { position: relative; z-index: 49; float: left; display: inline; border-top: 1px dotted #9e9694; background-color: #f1eeeb; }

.main .wrap .list-cart ul li .footer ul { padding: 15px; width: 928px; border: 1px solid #ccc; }

.main .wrap .list-cart ul li .footer ul li { border: 0; float: left; margin: 0; padding: 0 15px 0 5px; width: auto; height: 40px; line-height: 40px; }

.main .wrap .list-cart ul li .footer ul li:hover { color: #06c; text-decoration: underline; cursor: pointer; }

.main .wrap .list-cart ul li .footer ul li input { vertical-align: -1px; }

.main .wrap .list-cart ul .chosenResult { padding: 10px 0; width: 960px; border-bottom: 2px solid #e0dad8; text-align: right; }

.main .wrap .list-cart ul .chosenResult .total span { padding-left: 25px; color: #666; }

.main .wrap .list-cart ul .chosenResult .total span b { color: #d63939; font: normal bold 14px Arial; }

.main .wrap .list-cart ul .chosenResult .total .buy_yh { color: #3172b2; }
